/*************************************** 
    Marina bay sands      
/**************************************/

.hotel-intro {
  padding-top: 80px;
}


/* Hotel header */

.hotel-header {
  margin-bottom: 30px;
  line-height: 1.6;
}

.hotel-header-info {
  padding: 0;
  position: relative;
  bottom: 10px;
}

.hotel-header-info-name h1 {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 0px;
  font-size: 1.8em;
  font-weight: 500;
  word-spacing: initial;
  letter-spacing: initial;
}

.hotel-header-info-name-stars {
  position: relative;
  bottom: 5px;
  display: inline-block;
}

.hotel-header-info-name-stars>img {
  display: inherit;
}

.hotel-header-info-address {
  font-size: 0.9em;
}

.hotel--header-info-address a {
  display: inline-block;
}

.hotel-header-rating-review {
  position: relative;
  bottom: -5px;
  padding: 0;
  text-align: right;
  font-size: 0.9em;
}

.hotel-header-rating-score {
  font-size: 1.2em;
  font-weight: 500;
}

.hotel-header-rating-score-number {
  margin-left: 5px;
  color: #488BF8;
  font-size: 1.8em;
}


/* Masonry */

.masonry-item {
  position: relative;
  display: block;
  cursor: pointer;
}

.masonry-item img {
  width: 100%;
  height: 100%;
}

.masonry-grid>div>img {
  padding: 0;
  margin: 0;
}

.masonry-1st {
  height: 400px;
  width: 60%;
  float: left;
}

.masonry-2nd {
  float: right;
  height: 315px;
  width: 39.5%;
  margin-left: .5%;
}

.masonry-3rd {
  float: left;
  width: 19%;
  margin: .5% 0 0;
  height: 180px;
  clear: both;
}

.masonry-4th {
  float: left;
  width: 40.5%;
  margin: .5% 0 0 .5%;
  height: 180px;
}

.masonry-5th {
  float: left;
  width: 19.5%;
  height: 266px;
  margin-top: -80px;
  margin-left: .5%;
}

.masonry-6th {
  float: left;
  width: 19.5%;
  height: 149px;
  border: 1px solid #ccc;
  margin-top: -80px;
  margin-left: .5%;
}

.masonry-7th {
  float: left;
  width: 19.5%;
  height: 110px;
  margin-top: 6px;
  margin-left: .5%;
}

.masonry-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: all 250ms ease-in-out;
}

.mansonry-overlay-alt {
  background-color: rgba(1, 1, 1, 0.5);
}

.masonry-overlay:hover,
.masonry-overlay:focus {
  background-color: rgba(1, 1, 1, 0.8);
}

.see-map {
  width: 100%;
  height: 48px;
  position: absolute;
  bottom: -10px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1em;
  text-align: center;
  line-height: normal;
  letter-spacing: 1.4px;
  transition: color 250ms ease-in-out;
}

.ms-overlay-info-title {
  position: absolute;
  bottom: 15%;
  left: 5%;
  width: 100%;
  color: #fff;
  opacity: 0;
  font-size: 1.6em;
  font-weight: 400;
  transition: all 250ms ease-in-out;
}

.ms-overlay-info-caption {
  color: #84b5fe;
  opacity: 0;
  width: 100%;
  height: 49px;
  position: absolute;
  left: 5%;
  bottom: 0%;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.1em;
  line-height: normal;
  letter-spacing: 0.2px;
  transition: color 250ms ease-in-out;
  z-index: 1;
}

.ms-overlay-info-title-2 {
  bottom: 20%;
}

.ms-overlay-info-title-3 {
  bottom: 35%;
}

.ms-overlay-info-title-4 {
  bottom: 35%;
}

.ms-overlay-info-title-5 {
  bottom: 25%;
}

.see-map-overlay-title {
  bottom: 80px;
  left: 20px;
}

.see-map-overlay-caption {
  text-align: center;
  left: 0;
  bottom: -10px;
}

.masonry-overlay:hover .see-map,
.masonry-overlay:focus .see-map {
  opacity: 0;
}

.masonry-overlay:hover .ms-overlay-info-caption,
.masonry-overlay:hover .ms-overlay-info-title,
.masonry-overlay:focus .ms-overlay-info-caption,
.masonry-overlay:focus .ms-overlay-info-title {
  opacity: 1;
}

.ms-review-snippet {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  padding-top: 20px;
  color: #fff;
  text-align: center;
  letter-spacing: 1.4px;
  font-size: 0.9em;
}

.mansonry-overlay-alt:hover .ms-review-snippet,
.mansonry-overlay-alt:focus .ms-review-snippet {
  visibility: hidden;
}

.review span {
  display: block;
  font-size: 1.5em;
}

.ms-review-text {
  margin: 10px 0 20px 0;
}

.author-name {
  display: block;
  margin-bottom: 5px;
}

.ms-engagement {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  padding-top: 80px;
  color: #fff;
  font-size: 0.9em;
  letter-spacing: 1.4px;
  text-align: center;
}

.ms-engagement span {
  display: block;
  font-size: 1.5em;
}

.ms-engagement-text {
  margin-top: 15px;
  line-height: 1.4;
}

.mansonry-overlay-alt:hover .ms-engagement,
.mansonry-overlay-alt:focus .ms-engagement {
  visibility: hidden;
}

.mansonry-7th-caption {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  padding-top: 50px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.9em;
  letter-spacing: 1px;
  transition: color 250ms ease-in-out;
}

.mansonry-7th-caption:hover {
  color: #84b5fe;
}


/* room choices */

.room-choices {
  padding-top: 0;
}

.room-choices-heading>h2 {
  padding: 0 5px 20px;
  font-weight: 500;
  font-size: 1.4em;
  text-transform: initial;
}

.room-choices-card {
  border: 1px solid #ccc;
  margin-bottom: 50px;
}

.room-choices-card-heading {
  padding: 15px;
  background: rgba(227, 227, 227, 0.65);
}

.room-choices-card-heading>h4 {
  margin: 0;
}

.room-choices-card-content {
  display: flex;
  padding: 0;
}

.room-choices-card-content h5 {
  margin: 0;
  padding: 10px 0 20px;
  font-weight: 500;
}

.room-choices-card-content-space {
  display: inline-block;
  width: 25%;
  padding: 0 10px;
  border-right: 1px solid #ccc;
}

.room-choices-card-content-space-container-img {
  overflow: hidden;
}

.room-choices-card-content-space-img {
  height: 150px;
  width: 95%;
  background-image: url('../img/hotels/Marina-bay-sands/premiere-twin-garden-view.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all .3s ease-in-out;
  cursor: pointer;
}

.room-choices-card-content-space-img:hover {
  transform: scale(1.2);
}

span.room-choices-card-content-space-img-tagline {
  margin: 15px 0 15px 5px;
  display: block;
  font-size: 0.8em;
}

.room-choices-card-content-specification {
  width: 20%;
  border-right: 1px solid #ccc;
  padding: 0 10px;
}

.room-choices-card-content-specification ul {
  margin: 5px 0;
  padding: 0;
}

.room-choices-card-content-specification li {
  padding: 5px 0;
  font-size: 0.9em;
  line-height: 1.4;
}

.room-choices-card-content-specification i {
  margin-right: 15px;
}

.room-choices-card-content-capacity {
  display: inline-block;
  width: 10%;
  border-right: 1px solid #ccc;
  padding: 0 10px;
}

.room-choices-card-content-capacity-text {
  margin-top: 50px;
  font-size: 1.2em;
}

.room-choices-card-content-capacity-text i {
  margin-left: 5px;
  font-size: 1.5em;
}

.room-choices-card-content-price {
  display: inline-block;
  width: 20%;
  border-right: 1px solid #ccc;
  text-align: center;
}

.room-choices-card-content-price-text {
  margin-top: 38px;
}

.room-choices-card-content-price-text p {
  margin: 0;
  color: #CB242D;
}

.room-choices-card-content-price-text span {
  font-size: 1.8em;
  font-weight: 500;
  margin-left: 5px;
}

.room-choices-card-content-rooms {
  position: relative;
  display: inline-block;
  width: 25%;
  padding: 0 10px;
}

.room-choices-card-content-rooms select {
  padding: 10px 20px;
  margin-top: 10px;
  text-align: right;
}

.room-choices-card-content-rooms span {
  display: block;
  margin-top: 30px;
  color: #CB242D;
  font-weight: 500;
  font-size: 0.9em;
  text-align: center;
}

.room-choices-card-content-rooms .button-submit {
  position: absolute;
  top: 75%;
  left: 5%;
  width: 90%;
}


/* marina bay rooms */

.premiere-king-garden-view-img {
  background-image: url('../img/hotels/Marina-bay-sands/premiere-king-garden-view.jpg');
}

.sande-suite-img {
  background-image: url('../img/hotels/Marina-bay-sands/sande-suite.jpg');
}

.orchard-suite-img {
  background-image: url('../img/hotels/Marina-bay-sands/orchard-suite.jpg');
}


/* studio M rooms */

.studio-loft-img {
  background-image: url('../img/hotels/studioM/studio-loft.jpg');
}

.premiere-loft-img {
  background-image: url('../img/hotels/studioM/premiere-loft.jpg');
}

.executive-loft-img {
  background-image: url('../img/hotels/studioM/executive-loft.jpg');
}


/* sentosa rooms */

.one-bedroom-villa-img {
  background-image: url('../img/hotels/sentosa/1-bedroom-villa.jpg');
}

.ocean-suite-img {
  background-image: url('../img/hotels/sentosa/ocean-suite.jpg');
}

.two-bedroom-villa-img {
  background-image: url('../img/hotels/sentosa/2-bedroom-villa.jpg');
}

.three-bedroom-villa-img {
  background-image: url('../img/hotels/sentosa/3-bedroom-villa.jpg');
}


/* indigo rooms */

.deluxe-king-room-img {
  background-image: url('../img/hotels/indigo-hotel/deluxe-king-room.png');
}

.deluxe-twin-room-img {
  background-image: url('../img/hotels/indigo-hotel/deluxe-twin.jpg');
}

.premier-king-room-img {
  background-image: url('../img/hotels/indigo-hotel/premiere-king.png');
}

.premier-executive-1-king-bath-img {
  background-image: url('../img/hotels/indigo-hotel/premiere-executive.png');
}


/* hop inn rooms */

.hop-double-room-img {
  background-image: url('../img/hotels/hop-inn/double-room.jpg');
}

.hop-twin-room-img {
  background-image: url('../img/hotels/hop-inn/twin-room.jpg');
}

.hop-triple-room-img {
  background-image: url('../img/hotels/hop-inn/triple-room.jpg');
}


/* mini hotel rooms */

.mini-double-img {
  background-image: url('../img/hotels/mini-hotel/basic-double-twin.jpg');
}

.smart-room-img {
  background-image: url('../img/hotels/mini-hotel/smart-room.jpg');
}

.solo-room-img {
  background-image: url('../img/hotels/mini-hotel/solo-room.jpg');
}


/* ICON rooms */

.icon-36-city-view-img {
  background-image: url('../img/hotels/hotel-icon/icon-city-view.jpg');
}

.icon-36-harbour-view-img {
  background-image: url('../img/hotels/hotel-icon/icon-harbour-view.jpg');
}

.icon-club-65-studio-img {
  background-image: url('../img/hotels/hotel-icon/icon-club-65.jpg');
}

.icon-club-80-harbour-img {
  background-image: url('../img/hotels/hotel-icon/icon-club-80.jpg');
}


/* dreamHouse rooms */

.dream-double-img {
  background-image: url('../img/hotels/dreamHouse/dream-double.jpg');
}

.dream-twin-img {
  background-image: url('../img/hotels/dreamHouse/dream-twin.jpg');
}

.dream-triple-img {
  background-image: url('../img/hotels/dreamHouse/dream-triple.jpg');
}

.dream-noWindow-img {
  background-image: url('../img/hotels/dreamHouse/dream-no-window.jpg');
}


/* la Maison rooms */

.laMaison-DeluxeDouble-img {
  background-image: url('../img/hotels/laMaison/laMaison-deluxeDouble.jpg');
}

.laMaison-DeluxeTwin-img {
  background-image: url('../img/hotels/laMaison/laMaison-deluxeTwin.jpg');
}

.laMaison-DeluxeFamily-img {
  background-image: url('../img/hotels/laMaison/laMaison-deluxeFamily.jpg');
}


/* fairytale hotel rooms */

.fairytale-budgetDouble-img {
  background-image: url('../img/hotels/fairytale/fairytale-budgetDouble.jpg');
}

.fairytale-deluxeDouble-img {
  background-image: url('../img/hotels/fairytale/fairytale-deluxeDouble.jpg');
}

.fairytale-premierQuad-img {
  background-image: url('../img/hotels/fairytale/fairytale-premierQuad.jpg');
}

.fairytale-familySuite-img {
  background-image: url('../img/hotels/fairytale/fairytale-familySuite.jpg');
}


/* hotel overview */

.hotel-overview {
  padding-top: 0;
}

.hotel-overview-heading h2 {
  padding: 0 5px 20px;
  margin-left: 10px;
  font-weight: 500;
  font-size: 1.6em;
  text-transform: initial;
}

.hotel-overview-title {
  border-top: 1px solid #ccc;
}

.hotel-overview-title h3 {
  padding: 0 5px 20px;
  font-weight: 500;
  font-size: 1.2em;
  text-transform: initial;
}

.hotel-overview-description {
  border-top: 1px solid #ccc;
  max-height: 90px;
  margin-bottom: 30px;
  font-size: 0.9em;
  overflow: hidden;
}

.show-more-btn {
  display: inline-block;
  margin-bottom: 50px;
  padding: 5px 0;
  color: #488BF8;
  cursor: pointer;
}

.show-more-btn i {
  margin-left: 5px;
}

.show-more-open {
  max-height: 2000px;
}


/* guest reviews */

.guest-reviews {
  padding-top: 0;
}

.guest-review-card {
  border-top: 1px solid #ccc;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  line-height: 1.8;
  font-size: 0.9em;
  height: auto;
}

.guest-review-info-score {
  color: #488BF8;
  font-size: 2.5em;
}

.flag {
  background-image: url('../img/hotels/flags.png');
  background-repeat: no-repeat;
  display: inline-block;
  width: 16px;
  height: 11px;
  margin-right: 10px;
  border: none;
}

.flag-us {
  background-position: -16px -11px;
}

.flag-it {
  background-position: -16px 0;
}

.flag-id {
  background-position: 0 0;
}

.flag-za {
  background-position: 0 -11px;
}

.guest-review-info-traveler-type i {
  margin-right: 7px;
}

.guest-review-info-room-type i {
  margin-right: 5px;
}

.guest-review-info-stay-detail i {
  margin-right: 8px;
}

.guest-review-comment {
  background: #e3e3e3;
  border-radius: 10px;
  padding: 25px 50px;
}

.guest-review-comment-title {
  font-weight: 500;
  font-size: 1.2em;
  margin-bottom: 15px;
}

.guest-review-comment-text {
  margin-bottom: 15px;
}

.guest-review-comment-date {
  color: #7B838D;
}


/* booking form */

.booking {
  padding-top: 50px;
}

.booking h1 {
  margin-bottom: 10px;
  margin-left: 10px;
  font-size: 1.8em;
  font-weight: 500;
  word-spacing: initial;
  letter-spacing: initial;
}

.booking-form-card {
  padding: 30px;
  width: 100%;
  height: auto;
  border-radius: 10px;
  background: #fff;
}

.booking-form-card label {
  font-weight: 500;
}

.ui-widget label {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

.booking-form-card input[type="text"],
.booking-form-card input[type="tel"],
.booking-form-card input[type="email"] {
  display: block;
  margin: 5px 0 30px;
  border: 1px solid #ccc;
  border-radius: 2px;
  height: 40px;
  width: 100%;
  padding: 5px;
  outline-color: #0283DF;
}

.booking-form-card span {
  font-weight: 500;
}

.booking-form-card-room-details {
  margin-bottom: 30px;
}

.booking-form-card-room-details>div {
  display: inline-block;
  margin-right: 50px;
  margin-bottom: 30px;
}

.booking-form-card-room-details>div>span {
  display: block;
  margin-bottom: 10px;
  text-align: center;
}

.booking-form-card-room-details select {
  padding: 10px 35px;
}

.booking-form-card-comment span {
  display: block;
  margin-bottom: 10px;
}

.booking-form-card-comment textarea {
  width: 100%;
  margin-bottom: 30px;
}