/*************************************** 
        Base styles                    
/**************************************/


/* https://alpha.wallhaven.cc/wallpaper/179391 */


/*
hero title #10DEBC
alternate section bg 
footer #252528
section h2 #1C1D22
red #c63940
*/


/*
https://dribbble.com/shots/2073113-Space-Exploration-Web-Freebie/attachments/371833
*/

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background: #E9EAEA;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 3.5em;
  font-weight: 700;
  letter-spacing: 2px;
  word-spacing: 15px;
  text-transform: uppercase;
}

h2 {
  font-size: 1.8em;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h3 {
  letter-spacing: 1px;
  font-size: 1.4em;
  font-weight: 500;
}

p {
  font-weight: 400;
  font-size: 1em;
  line-height: 2;
}

a {
  color: #fff;
  letter-spacing: 1px;
  text-decoration: none;
}

header {
  height: 70px;
  width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

section {
  padding: 50px 0;
  color: #444444;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

footer {
  padding: 30px 0 10px;
  background: #252528;
  color: #6C6E70;
  font-size: 0.8em;
}

hr {
  border: none;
  margin-bottom: 20px;
  height: 1px;
  color: #6C6E70;
  background: #6C6E70;
}


/*************************************** 
                Layout                   
/**************************************/

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

.margin-auto {
  margin: 0 auto;
}

.padding-0 {
  padding: 0;
}

.ta-center {
  text-align: center;
}


/*************************************** 
              Componenets                    
/**************************************/


/* button */

.button {
  display: inline-block;
  border-radius: 3px;
  padding: 15px;
  font-size: 1em;
  transition: all 0.2s ease-in-out;
}

.button:hover,
.button:focus {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.button-primary {
  background: #CB242D;
  color: #fff;
}


/*  underline  */

.line {
  background: #CB242D;
  height: 2px;
  width: 70px;
  display: block;
  margin: 40px auto;
}


/*  style  */

.bg-white {
  background: #fff;
}

.bg-dark {
  background: #252528;
}

.text-white {
  color: #fff;
}


/*************************************** 
                Header                    
/**************************************/

header.header-primary {
  position: absolute;
}

.header-shadow {
  margin-top: 0;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.20);
}


/*  logo  */

.logo {
  margin-top: 4px;
  padding: 5px 0;
  color: #fff;
  font-size: 1.2em;
  font-weight: 500;
  line-height: 50px;
}

.logo a {
  padding: 10px;
  letter-spacing: 0;
}

.logo span {
  border: 2px solid #fff;
  padding: 4px;
  color: #CB242D;
  font-weight: 700;
}


/* nav  */

nav li {
  padding: 0 10px;
  display: inline-block;
  line-height: 70px;
}

nav a {
  position: relative;
  padding: 15px;
  color: #fff;
  /*rgba(184, 187, 196, 1)*/
  font-size: 1em;
  font-weight: 500;
  -webkit-transition: 400ms;
  transition: 400ms;
}

nav a:hover,
nav a:focus,
nav .nav-active {
  color: #CB242D
}

nav a::after {
  content: '';
  position: absolute;
  bottom: 3px;
  left: 0;
  width: 0%;
  border-bottom: 2px solid #CB242D;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

nav a:hover::after {
  width: 100%;
}


/*************************************** 
                 Hero                    
/**************************************/

.hero {
  height: 100vh;
  padding: 160px 0;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(33, 120, 140, 0.3)), url(../img/slider-couple.jpeg);
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(33, 120, 140, 0.3)), url(../img/hero.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero .container {
  width: 100%;
  padding: 10px 0 30px;
}

.hero h1 {
  margin-bottom: 10px;
  /* color: #CB242D; */
}

.hero h2 {
  width: 80%;
  margin: 10px auto 100px;
  font-size: 1.4em;
  font-weight: 300;
  line-height: 30px;
  text-transform: none;
}


/*************************************** 
              Sections                    
/**************************************/


/*  benefits */

.benefits {
  margin-top: 50px;
}

.benefits i {
  font-size: 5em;
}


/*  About-home  */

.about-home-text {
  padding: 30px 50px;
}

.about-home-text h3 {
  margin-top: 0;
}

.about-home-text p {
  margin-bottom: 50px;
}


/*  Testimonials  */

.card {
  border-radius: 15px;
  height: 450px;
  background: #fff;
  margin: 30px 30px;
  padding: 40px 20px;
}

.card img {
  display: block;
  border-radius: 50%;
  margin: 0 auto;
}

.card hr {
  width: 80%;
  background: #ccc;
}


/*  featured  */

.featured img {
  display: inline-block;
  height: 40px;
  margin: 60px 65px 0;
}


/*************************************** 
              Footer            
/**************************************/

footer p {
  font-size: 1em;
}

footer strong {
  text-transform: uppercase;
}

footer a {
  color: inherit;
}

footer ul {
  font-weight: 400;
  line-height: 1.8;
}

footer ul a:hover {
  color: #fff;
  transition: 0.3s;
}

footer .footer-nav {
  margin-bottom: 40px;
  font-size: 1em;
}

footer
/*  social icons  */

ul.footer-social {
  font-size: 3em;
}

.footer-social li {
  display: inline-block;
  padding: 0 10px;
  margin-bottom: 30px;
}