/*************************************** 
              Desktop         
/**************************************/

@media (max-width:1200px) {}


/*************************************** 
  Tablet Landscape          
/**************************************/

@media (max-width: 992px) {
  /*  button  */
  .scroll-btn {
    padding: 11px 8px;
  }
  /*  Nav  */
  nav li {
    padding: 0;
  }
  /*  hero  */
  .hero h1 {
    font-size: 2.8em;
    word-spacing: 5px;
  }
  .hero h2 {
    font-size: 1.3em;
  }
  /*  benefits  */
  .benefits i {
    margin-top: 90px;
  }
  /*  testimonials  */
  .testimonials .card {
    margin: 30px 0;
  }
}


/*************************************** 
Tablet Portrait     
/**************************************/

@media (max-width:767px) {
  /*  Nav  */
  .header-default {
    position: relative;
  }
  /* The Overlay (background) */
  .overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow: hidden;
    transition: 0.2s;
  }
  .overlay-content {
    position: relative;
    top: 20%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    /* 30px top margin to avoid conflict with the close button on smaller screens */
  }
  .overlay-content li {
    display: block;
    margin: 0;
    padding: 0;
    line-height: 2;
  }
  .overlay-content a {
    padding: 8;
    color: #818181;
    font-size: 2.5em;
    transition: 0.3s;
  }
  .overlay-content .nav-active {
    color: #CB242D;
  }
  .overlay-content a:hover,
  .overlay-content a:focus {
    color: #f1f1f1;
  }
  .overlay a::after {
    border: none;
    transition: none;
  }
  .nav--open {
    position: absolute;
    display: block;
    top: 25%;
    right: 5%;
    color: #444;
    font-size: 1.6em;
  }
  a.nav--close {
    position: absolute;
    right: 2%;
    top: 0%;
    display: block;
    padding: 10px 20px;
    color: #818181;
    font-size: 2.5em;
    font-weight: 300;
  }
  .nav--close:hover,
  .nav--close:focus {
    color: #f1f1f1;
  }
  /*  Home hero  */
  .hero h1 {
    padding-left: 2.5%;
    padding-right: 2.5%;
    font-size: 2.7em;
  }
  .hero h2 {
    font-size: 1.2em;
  }
  /*  benefits  */
  .benefits p {
    padding-left: 15%;
    padding-right: 15%;
  }
  /*  social proof  */
  .social-proof img {
    margin-bottom: 70px;
  }
  /*  newsletter  */
  .newsletter {
    line-height: 1.5;
  }
  .newsletter input[type=submit] {
    width: 25em;
  }
  .newsletter .form-control {
    margin-bottom: 1px;
  }
  /*  footer  */
  footer {
    text-align: center;
  }
}


/*************************************** 
Landscape phone         
/**************************************/

@media (max-width: 480px) {
  /*  base styles  */
  h2 {
    font-size: 1.6em;
  }
  /*  button  */
  .button {
    font-size: 0.9em;
  }
  /*  card  */
  .card-container {
    padding: 0;
  }
  .card {
    padding: 40px 15px;
  }
  /*  hero  */
  .hero h1 {
    font-size: 2em;
  }
  .hero h2 {
    font-size: 1em;
  }
  /*  newsletter  */
  .newsletter .form-control {
    width: 15em;
    font-size: 0.9em;
  }
  .newsletter input[type=submit] {
    width: 15em;
  }
  /*  footer  */
  footer p {
    font-size: 0.9em;
  }
}