/*************************************** 
  Nav      **************************************/

@media (max-width: 900px) {
  header {
    position: relative;
  }
  nav {
    position: absolute;
    top: 100%;
    right: 0%;
    background: #fff;
    height: 0;
    overflow: hidden;
  }
  .header-primary nav {
    position: absolute;
    top: 100%;
    right: 0%;
    background: #fff;
  }
  .nav--open {
    height: auto;
  }
  nav ul {
    display: inline-block;
  }
  nav li {
    padding: 0;
    display: block;
    line-height: 1.5;
    text-align: left;
  }
  nav a {
    display: block;
    padding: 1.5em 11em 1.5em 2em;
  }
  .header-primary nav a {
    display: block;
    padding: 1.5em 11em 1.5em 2em;
    color: #444;
  }
  .nav-active {
    color: #fff!important;
    background: #cb242d;
  }
  nav a:hover,
  nav a:focus {
    background-color: #cb242d;
    color: #fff;
  }
  nav a::after {
    transition: none;
    border: none;
  }
  .nav--icon {
    display: inline-block;
    margin-right: 15px;
    width: 1.5em;
    color: rgba(68, 68, 68, 0.5);
    font-size: 1.2em;
    text-align: center;
  }
  .hamburger-toggle {
    display: inline-block;
    position: absolute;
    right: 40px;
    top: 12px;
    padding: 1em;
    cursor: pointer;
    height: 0;
  }
  .hamburger-main,
  .hamburger-main::before,
  .hamburger-main::after {
    content: '';
    display: block;
    background: #444;
    height: 3px;
    width: 1.5em;
    border-radius: 3px;
    transition: all ease-in-out 200ms;
  }
  .header-primary .hamburger-main,
  .header-primary .hamburger-main::before,
  .header-primary .hamburger-main::after {
    background: #fff;
  }
  .hamburger-main::before {
    transform: translateY(-7px);
  }
  .hamburger-main::after {
    transform: translateY(4px);
  }
  .open .hamburger-main {
    transform: rotate(45deg);
  }
  .open .hamburger-main::before {
    opacity: 0;
  }
  .open .hamburger-main::after {
    transform: translateY(-3px) rotate(-90deg);
  }
}


/*************************************** 
Contact Page         /**************************************/


/*  banner  */