

/* studio M rooms */

.studio-loft-img {
  background-image: url('../img/hotels/studioM/studio-loft.jpg');
}

.premiere-loft-img {
  background-image: url('../img/hotels/studioM/premiere-loft.jpg');
}

.executive-loft-img {
  background-image: url('../img/hotels/studioM/executive-loft.jpg');
}


/* sentosa rooms */

.one-bedroom-villa-img {
  background-image: url('../img/hotels/sentosa/1-bedroom-villa.jpg');
}

.ocean-suite-img {
  background-image: url('../img/hotels/sentosa/ocean-suite.jpg');
}

.two-bedroom-villa-img {
  background-image: url('../img/hotels/sentosa/2-bedroom-villa.jpg');
}

.three-bedroom-villa-img {
  background-image: url('../img/hotels/sentosa/3-bedroom-villa.jpg');
}


/* indigo rooms */

.deluxe-king-room-img {
  background-image: url('../img/hotels/indigo-hotel/deluxe-king-room.png');
}

.deluxe-twin-room-img {
  background-image: url('../img/hotels/indigo-hotel/deluxe-twin.jpg');
}

.premier-king-room-img {
  background-image: url('../img/hotels/indigo-hotel/premiere-king.png');
}

.premier-executive-1-king-bath-img {
  background-image: url('../img/hotels/indigo-hotel/premiere-executive.png');
}


/* hop inn rooms */

.hop-double-room-img {
  background-image: url('../img/hotels/hop-inn/double-room.jpg');
}

.hop-twin-room-img {
  background-image: url('../img/hotels/hop-inn/twin-room.jpg');
}

.hop-triple-room-img {
  background-image: url('../img/hotels/hop-inn/triple-room.jpg');
}


/* mini hotel rooms */

.mini-double-img {
  background-image: url('../img/hotels/mini-hotel/basic-double-twin.jpg');
}

.smart-room-img {
  background-image: url('../img/hotels/mini-hotel/smart-room.jpg');
}

.solo-room-img {
  background-image: url('../img/hotels/mini-hotel/solo-room.jpg');
}


/* ICON rooms */

.icon-36-city-view-img {
  background-image: url('../img/hotels/hotel-icon/icon-city-view.jpg');
}

.icon-36-harbour-view-img {
  background-image: url('../img/hotels/hotel-icon/icon-harbour-view.jpg');
}

.icon-club-65-studio-img {
  background-image: url('../img/hotels/hotel-icon/icon-club-65.jpg');
}

.icon-club-80-harbour-img {
  background-image: url('../img/hotels/hotel-icon/icon-club-80.jpg');
}


/* dreamHouse rooms */

.dream-double-img {
  background-image: url('../img/hotels/dreamHouse/dream-double.jpg');
}

.dream-twin-img {
  background-image: url('../img/hotels/dreamHouse/dream-twin.jpg');
}

.dream-triple-img {
  background-image: url('../img/hotels/dreamHouse/dream-triple.jpg');
}

.dream-noWindow-img {
  background-image: url('../img/hotels/dreamHouse/dream-no-window.jpg');
}


/* la Maison rooms */

.laMaison-DeluxeDouble-img {
  background-image: url('../img/hotels/laMaison/laMaison-deluxeDouble.jpg');
}

.laMaison-DeluxeTwin-img {
  background-image: url('../img/hotels/laMaison/laMaison-deluxeTwin.jpg');
}

.laMaison-DeluxeFamily-img {
  background-image: url('../img/hotels/laMaison/laMaison-deluxeFamily.jpg');
}


/* fairytale hotel rooms */

.fairytale-budgetDouble-img {
  background-image: url('../img/hotels/fairytale/fairytale-budgetDouble.jpg');
}

.fairytale-deluxeDouble-img {
  background-image: url('../img/hotels/fairytale/fairytale-deluxeDouble.jpg');
}

.fairytale-premierQuad-img {
  background-image: url('../img/hotels/fairytale/fairytale-premierQuad.jpg');
}

.fairytale-familySuite-img {
  background-image: url('../img/hotels/fairytale/fairytale-familySuite.jpg');
}




/* guest reviews */

.guest-reviews {
  padding-top: 0;
}

.guest-review-card {
  border-top: 1px solid #ccc;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  line-height: 1.8;
  font-size: 0.9em;
  height: auto;
}

.guest-review-info-score {
  color: #488BF8;
  font-size: 2.5em;
}

.flag {
  background-image: url('../img/hotels/flags.png');
  background-repeat: no-repeat;
  display: inline-block;
  width: 16px;
  height: 11px;
  margin-right: 10px;
  border: none;
}

.flag-us {
  background-position: -16px -11px;
}

.flag-it {
  background-position: -16px 0;
}

.flag-id {
  background-position: 0 0;
}

.flag-za {
  background-position: 0 -11px;
}

.guest-review-info-traveler-type i {
  margin-right: 7px;
}

.guest-review-info-room-type i {
  margin-right: 5px;
}

.guest-review-info-stay-detail i {
  margin-right: 8px;
}

.guest-review-comment {
  background: #e3e3e3;
  border-radius: 10px;
  padding: 25px 50px;
}

.guest-review-comment-title {
  font-weight: 500;
  font-size: 1.2em;
  margin-bottom: 15px;
}

.guest-review-comment-text {
  margin-bottom: 15px;
}

.guest-review-comment-date {
  color: #7B838D;
}


/* booking form */

.booking {
  padding-top: 50px;
}

.booking h1 {
  margin-bottom: 10px;
  margin-left: 10px;
  font-size: 1.8em;
  font-weight: 500;
  word-spacing: initial;
  letter-spacing: initial;
}

.booking-form-card {
  padding: 30px;
  width: 100%;
  height: auto;
  border-radius: 10px;
  background: #fff;
}

.booking-form-card label {
  position: relative;
  font-weight: 500;
}

.ui-widget label {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

.booking-form-card input[type="text"],
.booking-form-card input[type="tel"],
.booking-form-card input[type="email"] {
  display: block;
  margin: 5px 0 30px;
  border: 1px solid #ccc;
  border-radius: 2px;
  height: 40px;
  width: 100%;
  padding: 5px;
}

.booking-form-card input[type="text"]:hover,
.booking-form-card input[type="tel"]:hover,
.booking-form-card input[type="email"]:hover,
.booking-form-card input[type="text"]:focus,
.booking-form-card input[type="tel"]:focus,
.booking-form-card input[type="email"]:focus {
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

.booking-form-card span {
  font-weight: 500;
}

.booking-form-card-room-details {
  margin-bottom: 30px;
}

.booking-form-card-room-details>div {
  display: inline-block;
  margin-right: 50px;
  margin-bottom: 30px;
}

.booking-form-card-room-details>div>span {
  display: block;
  margin-bottom: 10px;
  text-align: center;
}

.booking-form-card-room-details select {
  padding: 10px 35px;
}

.booking-form-card-comment span {
  display: block;
  margin-bottom: 10px;
}

.booking-form-card-comment textarea {
  width: 100%;
  margin-bottom: 30px;
  padding: 10px;
  line-height: 1.6;
}

/* nearby attractions */







/* booking form validation */

.error {
  position: absolute;
  top: -23px;
  display: block;
  color: #D9534F;
  font-size: .8em;
  font-weight: 300;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

.valid {
  border: 1px solid #53B553!important;
}

.has-error {
  border: 1px solid #D9534F !important;
  border-radius: 2px;
}


/* form modal */

#formDisplay {
  margin: 80px 0 20px 20px;
  padding-right: 30px;
  width: 100%;
  line-height: 2;
}


#formDisplay strong {
  margin-right: 5px;
}
/* The Modal (background) */

.modal {
  visibility: hidden;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 9999;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.8);
  /* Black w/ opacity */
}


/* Modal Content/Box */

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  width: 70%;
  /* Could be more or less, depending on screen size */
}

.modal-content h2 {
  text-align: center;
  margin-bottom: 10px;
  margin-left: 10px;
  font-size: 2em;
  font-weight: 400;
  word-spacing: initial;
  letter-spacing: initial;
  text-transform: initial;
}


/* The Close Button */

.close {
  color: #aaa;
  float: right;
  font-size: 50px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}