
/*************************************** 
Tablet Portrait     
/**************************************/

@media (max-width:767px) {

  .hotel-overview-title,
  .hotel-overview-description {
    border: none;
  }
  .guest-review-card {
    border: none;
    margin-bottom: 0;
  }
  .guest-review-info {
    margin-bottom: 30px;
  }
  .guest-review-comment {
    padding: 20px;
  }
}

