

/* button */

.button-submit {
  width: 11em;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.button-submit:hover,
.button-submit:focus {
  background: #a31d24;
  -webkit-transform: none;
  transform: none;
}

/*************************************** 
Destinations        
/**************************************/


/*  side bar  */


.filter-item-price:hover {
  background: #fff;
}
/*  price slider  */

.price-slider {
  margin-top: 10px;
}

#amount {
  margin-left: 5%;
  margin-top: 10%;
  border: none;
  color: #434A54;
  background: #E9EAEA;
  font-size: 0.8em;
  font-weight: 700;
}

.ui-slider-horizontal {
  position: relative;
  margin: 0 auto;
  height: 5px;
  width: 210px;
  background-color: #ccc;
}

.ui-slider .ui-slider-handle {
  top: -9px;
  border: 2px solid #CB242D;
  border-radius: 50%;
  height: 1.5em;
  width: 1.5em;
  background: #fff;
  cursor: pointer;
  outline: none;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.ui-slider .ui-slider-handle:hover,
.ui-slider .ui-slider-handle:active {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  border-color: #a31d24;
}

.ui-slider .ui-slider-range {
  background: #CB242D;
  height: 5px;
}


/*  Sort menu  */

.room-sort {
  background: #434A54;
  margin: 0;
  padding: 0;
  text-align: center;
}

.room-sort-menu ul {
  margin: 0;
  padding: 0;
}

span.sort {
  margin-right: 30px;
  color: #fff;
  font-weight: 500;
}

.sort-mobile {
  display: none;
}

.room-sort-menu>li {
  display: inline-block;
  color: #fff;
}

.room-sort-menu>li>a {
  display: inline-block;
  padding: 16px 30px;
  margin: 0;
  font-size: 0.8em;
}

.room-sort-menu>li>a:hover,
.room-sort-menu>li>a:focus {
  background: #2e333a;
}

.dropdown {
  position: relative;
}

.dropMenu {
  position: absolute;
  display: none;
  top: 46px;
  left: 0px;
  border: 1px solid color;
  width: inherit;
  background: #CB242D;
  font-size: 0.8em;
  z-index: 1;
}

.show {
  display: block;
}

.room-sort-menu li:last-of-type ul.dropMenu {
  width: 166px;
}

.dropMenu li a {
  display: block;
  padding: 16px 20px;
}

.dropMenu li a:hover {
  background: #a0080d;
}


/*  hotel results  */

.hotel-card {
  height: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  border: 1px solid #ccc;
  background: #E9EAEA;
  -webkit-transition: -webkit-box-shadow .2s ease-in-out;
  transition: -webkit-box-shadow .2s ease-in-out;
  transition: box-shadow .2s ease-in-out;
  transition: box-shadow .2s ease-in-out, -webkit-box-shadow .2s ease-in-out;
  outline: none;
}

.hotel-card:hover {
  -webkit-box-shadow: 4px 4px 13px 0px rgba(96, 96, 96, 0.93);
  box-shadow: 4px 4px 13px 0px rgba(96, 96, 96, 0.93);
}

.hotel-img,
.hotel-info,
.hotel-promo {
  display: inline-block;
}

.hotel-info {
  padding: 10px;
  width: 50%;
}

.hotel-card h4 {
  padding: 0;
  margin: 0;
  color: #0283DF;
  font-size: 1.1em;
  cursor: pointer;
}

.hotel-card h4:hover {
  color: #CB242D;
}

.hotel-card .property-info>h4>a {
  padding: 0;
  margin: 0;
  color: #0283DF;
  font-size: 1em;
  cursor: pointer;
}

.hotel-card .property-info>h4>a:hover {
  color: #CB242D;
}

.property-stars img {
  display: inline-block;
  margin-top: 12px;
}

a.hotel-info-location {
  margin-left: 10px;
  font-size: 0.9em;
  font-weight: 500;
  cursor: pointer;
}

.hotel-promo {
  padding: 10px;
  width: 20%;
  background: #fff;
}

.hotel-info-directions ul {
  padding: 0;
  margin-top: 10px;
  list-style-type: circle;
}

.hotel-info-directions li {
  margin-left: 20px;
  margin-top: 5px;
  font-size: 0.8em;
}

.hotel-features {
  margin-top: 100px;
  color: #003580;
}

.hotel-features i {
  padding: 1%;
  cursor: help;
}

.hotel-promo {
  position: relative;
  padding: 20px 15px;
  text-align: right;
}

.review>span {
  font-size: 0.8em;
  margin-top: 5px;
}

.promo-price {
  margin-top: 90px;
}

.promo-price h3 {
  color: #2e333a;
  font-size: 1.3em;
}

.promo-price span {
  color: #CB242D;
}

.hotel-promo a.promo-button {
  position: relative;
  left: 7%;
  bottom: 2%;
  width: auto;
  padding: 9% 4%;
  text-align: center;
  font-size: 0.8em;
}

.promo-btn-mobile {
  display: none;
}

