.about-hero {
  position: relative;
  height: 80vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../assets/img/about/about-hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;

  &__text-content {
    position: absolute;
    top: 50%;
    left: 50%;
    width:85%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  &__title {
    margin-bottom: 10px;
    font-size: 1.4em;
    font-weight: 500;
    text-transform: none;

    @include small{
      font-size: 2em;
    }

    @include medium{
      font-size: 2.5em;
    }
  }

  &__subtitle {
    display: inline-block;
    font-size: 0.9em;
    margin-top: 20px;

    @include small{
      font-size: 1.1em;
    }

    @include medium{
      font-size: 1.3em;
    }
  }
}
