/* booking form validation */

.error {
  position: absolute;
  top: -23px;
  display: block;
  color: #D9534F;
  font-size: .8em;
  font-weight: 300;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

.valid {
  border: 1px solid #53B553!important;
}

.has-error {
  border: 1px solid #D9534F !important;
  border-radius: 2px;
}