.button {
  display: inline-block;
  border-radius: 3px;
  padding: 15px;
  background: $red;
  color:#fff;
  font-size: 1em;
  transition: all 0.3s;

  &:hover, &:focus {
    background: $redDark;
  }

  &--ghosted {
    border: 1px solid $red;
    padding: 14px;
    background: transparent;
    color: $red;

    &:hover, &:focus {
      background: $red;
      color: #fff;
    }
  }
}