.carousell {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;

 
  &__img {  
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
 
    &-1 {  
      background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../../assets/img/home/slider1.jpg");
      
      /*
      @include retina {
        background-image: url("../../assets/img/home/slider1--mobile-retina.jpg");
      }
*/

    }
  
    &-2{
      background-image: url("../../assets/img/home/slider2.jpg");
    }
    
    &-3{
      background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../../assets/img/home/slider3.jpg");
    }
  } 

  &__text--white {
    color: #fff;
  }

  &__text-content {
    position: absolute;
    top: 45%;
    left: 50%;
    width:80%;
    transform: translate(-50%, -50%);
    text-align: center;

    &--align-left {
      text-align: left;
    }
  }
  
  &__title {    
    font-weight: 700;
    font-size: 2em;
    
    @include small {
     font-size: 3em;
    }

    @include medium {
      font-size: 4em;
    }
  }

  &__subtitle {
    display: block;
    margin-top: 20px;
    font-weight: 300;
    font-size: 1em;

    @include small {
      margin: 10px;
      font-size: 1.2em;
      
    }

    @include medium {
      font-size: 1.5em;
    }
  }

  .button {
    position: relative;
    top: 50px;
  
    @include small {
      padding: 15px 30px;      
    }
  }
}

.slick-dots {
  bottom: 5%;
}

.slick-dots li {
  margin: 0 20px;
}

.slick-dots li button::before {
  font-size: 16px;
  color: #fff;
  opacity: 0.7;
}

.slick-dots li.slick-active button::before {
  color: #CB242D;
  opacity: 1;
}
