.home-hero {
  height: 100vh;
  padding: 160px 0;
  background-image: url("../../img/home/hero-compressor.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}
