.newsletter {
text-align: center;

  &__subtitle {
    display: block;
    margin-top: 20px;
    padding-bottom: 30px;
    padding-top: 0;
    color: #848383;
  }

  &__email {
    width: 80%;
    margin-bottom: 2px;

    @include medium {
      width: 400px;
      margin-bottom: 0;
    }
  }

  .button {
    width: 80%;

    @include medium {
      width:150px;  
    }
  }

}