.page-section {
padding: 100px 0;
  &--grey {
    background: $greyLight;
  }

  &--dark {
    background: #252528;
    color: #fff;
  }

  &--red {
    background: $red;
  }

  &__title {
    text-align: center;
  }

  &__line {
    background:$red;
    height: 2px;
    width: 70px;
    display: block;
    margin: 40px auto;
  }
}