.rooms {
  text-align: center;

  @include medium {
    padding-top: 0;
    text-align: left;
  }
  
  &__title {
    padding: 0 5px 40px;
    font-weight: 500;
  }

  &__card {
    margin: 0 auto;
    margin-bottom: 100px;
    width: 100%;
    border: 1px solid #ccc;

    @include small {
      width: 80%;
    }
    
    @include medium {
      margin: 0;
      margin-bottom: 50px;
      width: 100%;
    }
  }

  &__card-heading {
    padding: 15px;
    background: rgba(227, 227, 227, 0.65);

    h4 {
      margin: 0;
    }
  }

  &__card-content {
    display: block;
    
    @include medium {
      display: flex;
      padding: 0;
    }

    h5 {
      margin: 0;
      padding: 10px 0 20px;
      font-weight: 500;
    }
  }

  &__card-space {
    width: 100%;
    display: block;
    padding: 20px 0;
    border-bottom: 1px solid #ccc;

    @include medium{
      display: inline-block;
      width: 25%;
      padding: 0 10px;
      border-bottom: 0;
      border-right: 1px solid #ccc;
    }
  }

  &__card-img-container {
    overflow: hidden;
  }

  &__card-img {
    margin: 0 auto;
    width: 90%;
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: none;
    cursor: pointer;

    @include small {
      width: 80%;
    }

    @include medium {
      height: 150px;
      width: 95%;
      transition: all .3s ease-in-out;
    }

    &:hover {
      @include medium {
        transform: scale(1.2);
      }
    }
  }

  &__card-img-tagline {
    margin: 15px 0 15px 5px;
    display: block;
    font-size: 0.8em;
  }

  &__card-specification {
    width: 100%;
    display: block;
    padding: 20px 0;
    border-bottom: 1px solid #ccc;

    @include medium {
      width: 20%;
      border-bottom: 0;
      border-right: 1px solid #ccc;
      padding: 0 10px;
    }

    ul {
      margin: 5px 0;
      padding: 0;
    }

    li {
      padding: 5px 0;
      font-size: 0.9em;
      line-height: 1.4;
    }

    i {
      margin-right: 15px;
    }
  }
  
  &__card-capacity {
    width: 100%;
    display: block;
    padding: 20px 0;
    border-bottom: 1px solid #ccc;

    @include medium {
      display: inline-block;
      width: 10%;
      border-bottom: 0;
      border-right: 1px solid #ccc;
      padding: 0 10px;
    }
  }

  &__card-capacity-text {
    margin-top: 50px;
    font-size: 1.2em;

    i {
      margin-left: 5px;
      font-size: 1.5em;
    }
  }

  &__card-price-container {
    width: 100%;
    display: block;
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
    text-align: center;

    @include medium {
      display: inline-block;
      width: 20%;
      padding: 0;
      border-bottom: 0;
      border-right: 1px solid #ccc;
    }
  }

  &__card-price {
    margin-top: 38px;

    p {
      margin: 0;
      color: $red;
    }

    span {
      font-size: 1.6em;
      font-weight: 500;
      margin-left: 5px;
    }
  }

  &__card-rooms {
    width: 100%;
    display: block;
    padding: 20px 0;
    border-bottom: 1px solid #ccc;

    @include medium {
      position: relative;
      display: inline-block;
      width: 25%;
      padding: 0 10px;
      border: none;
    }

    select {
      padding: 10px 20px;
      margin-top: 10px;
      text-align: right;
    }

    span {
      display: block;
      margin-top: 30px;
      color: $red;
      font-weight: 500;
      font-size: 0.9em;
      text-align: center;
    }  
    
    .button {
      width: auto;
      margin-top: 5px;
      
      @include medium {
        position: absolute;
        top: 75%;
        left: 5%;
        width: 90%;
        text-align: center;
      }

      &:hover {
        color: #fff;
      }
    }
  }
  

  /* marina bay sands */

  &__card-img--premiere-twin-garden-view {
    background-image: url('../../assets/img/hotels/Marina-bay-sands/premiere-twin-garden-view.jpg');
  }

  &__card-img--preimere-king-garden-view {
    background-image: url('../../assets/img/hotels/Marina-bay-sands/premiere-king-garden-view.jpg');
  }

  &__card-img--sande-suite {
    background-image: url('../../assets/img/hotels/Marina-bay-sands/sande-suite.jpg');
  }

  &__card-img--orchard-suite {
    background-image: url('../../assets/img/hotels/Marina-bay-sands/orchard-suite.jpg');
  }

  /* studio m */

  &__card-img--studio-loft {
      background-image: url('../../assets/img/hotels/studioM/studio-loft.jpg');
  }

  &__card-img--premiere-loft {
    background-image: url('../../assets/img/hotels/studioM/premiere-loft.jpg');
  }

  &__card-img--executive-loft {
    background-image: url('../../assets/img/hotels/studioM/executive-loft.jpg');
  }

    /* studio m */

    &__card-img--one-bedroom-villa {
      background-image: url('../../assets/img/hotels/sentosa/1-bedroom-villa.jpg');
    }

    &__card-img--ocean-suite {
      background-image: url('../../assets/img/hotels/sentosa/ocean-suite.jpg');
    }

    &__card-img--two-bedroom-villa {
      background-image: url('../../assets/img/hotels/sentosa/2-bedroom-villa.jpg');
    }

    &__card-img--three-bedroom-villa {
      background-image: url('../../assets/img/hotels/sentosa/3-bedroom-villa.jpg');
    }

    /* Hotel Indigo */

    &__card-img--deluxe-king-room {
      background-image: url('../../assets/img/hotels/indigo-hotel/deluxe-king-room.png');
    }

    &__card-img--deluxe-twin-room {
      background-image: url('../../assets/img/hotels/indigo-hotel/deluxe-twin.jpg');
    }

    &__card-img--premier-king-room {
      background-image: url('../../assets/img/hotels/indigo-hotel/premiere-king.png');
    }

    &__card-img--premier-executive-1-king-bath {
      background-image: url('../../assets/img/hotels/indigo-hotel/premiere-executive.png');
    }

    /* Hop Inn */

    &__card-img--hop-double-room {
      background-image: url('../../assets/img/hotels/hop-inn/double-room.jpg');
    }

    &__card-img--hop-twin-room {
      background-image: url('../../assets/img/hotels/hop-inn/twin-room.jpg');
    }

    &__card-img--hop-triple-room {
      background-image: url('../../assets/img/hotels/hop-inn/triple-room.jpg');
    }

    /* Hotel Mini */

    &__card-img--mini-double {
      background-image: url('../../assets/img/hotels/mini-hotel/basic-double-twin.jpg');
    }

    &__card-img--smart-room {
      background-image: url('../../assets/img/hotels/mini-hotel/smart-room.jpg');
    }

    &__card-img--solo-room {
      background-image: url('../../assets/img/hotels/mini-hotel/solo-room.jpg');
    }

    /* Hotel ICON */

    &__card-img--ICON-36-city-view {
      background-image: url('../../assets/img/hotels/hotel-icon/icon-city-view.jpg');
    }

    &__card-img--ICON-36-harbour-view {
      background-image: url('../../assets/img/hotels/hotel-icon/icon-harbour-view.jpg');
    }

    &__card-img--ICON-club-65-studio-view {
      background-image: url('../../assets/img/hotels/hotel-icon/icon-club-65.jpg');
    }

    &__card-img--ICON-club-80-harbour {
      background-image: url('../../assets/img/hotels/hotel-icon/icon-club-80.jpg');
    }

    /* dreamHouse */ 

    &__card-img--dream-double {
      background-image: url('../../assets/img/hotels/dreamHouse/dream-double.jpg');
    }

    &__card-img--dream-twin {
      background-image: url('../../assets/img/hotels/dreamHouse/dream-twin.jpg');
    }

    &__card-img--dream-triple {
      background-image: url('../../assets/img/hotels/dreamHouse/dream-triple.jpg');
    }

    &__card-img--dream-noWindow {
      background-image: url('../../assets/img/hotels/dreamHouse/dream-no-window.jpg');
    }

    /* La Maison */ 

    &__card-img--DeluxeDouble {
      background-image: url('../../assets/img/hotels/laMaison/laMaison-deluxeDouble.jpg');
    }

    &__card-img--DeluxeTwin {
      background-image: url('../../assets/img/hotels/laMaison/laMaison-deluxeTwin.jpg');
    }

    &__card-img--DeluxeFamily {
      background-image: url('../../assets/img/hotels/laMaison/laMaison-deluxeFamily.jpg');
    }

    /* fairytale hotel */

    &__card-img--fairytale-budgetDouble {
      background-image: url('../../assets/img/hotels/fairytale/fairytale-budgetDouble.jpg');
    }

    &__card-img--fairytale-deluxeDouble {
      background-image: url('../../assets/img/hotels/fairytale/fairytale-DeluxeDouble.jpg');
    }

    &__card-img--fairytale-premierQuad {
      background-image: url('../../assets/img/hotels/fairytale/fairytale-premierQuad.jpg');
    }

    &__card-img--fairytale-familySuite {
      background-image: url('../../assets/img/hotels/fairytale/fairytale-familySuite.jpg');
    }
}