.scroll-top-btn {
  display: none;
  position: fixed;
  padding: 15px 13px;
  border-radius: 3px;
  border: none;
  right: 2%;
  bottom: 10%;
  background-color: rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease-in-out;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  z-index: 1001;

  &:hover {
    background-color: rgba(0, 0, 0, 1);
  }

  &:focus {
    outline: none;
  }

  &__icon {
    color: #fff;
  }
}