* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  color: #2e333a;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-size: 16px;
  word-spacing: 1px; }

h1 {
  font-size: 3em;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0; }

h2 {
  font-size: 1.8em;
  font-weight: 500;
  margin: 0; }

h3 {
  font-size: 1.4em;
  font-weight: 500; }

h4 {
  font-size: 1em;
  font-weight: 500; }

p {
  font-weight: 400;
  font-size: 1em;
  line-height: 2; }

a {
  text-decoration: none; }
  a:hover {
    color: inherit;
    text-decoration: inherit; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

img {
  max-width: 100%;
  height: auto; }

hr {
  border: none;
  margin-bottom: 20px;
  height: 1px;
  color: #6C6E70;
  background: #6C6E70; }

input[type="submit"] {
  border: none; }

.home-hero {
  position: relative;
  height: 100vh;
  padding: 160px 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(33, 120, 140, 0.3))), url("../../assets/img/home/hero-compressor.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(33, 120, 140, 0.3)), url("../../assets/img/home/hero-compressor.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff; }
  .home-hero__text-content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-align: center; }
  .home-hero__title {
    margin-bottom: 10px;
    font-size: 2em;
    font-weight: 700; }
    @media (min-width: 576px) {
      .home-hero__title {
        font-size: 2.5em; } }
    @media (min-width: 768px) {
      .home-hero__title {
        font-size: 3.5em; } }
  .home-hero__subtitle {
    margin-bottom: 40px;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.6; }
    @media (min-width: 768px) {
      .home-hero__subtitle {
        font-size: 1.4em; } }

.header {
  position: absolute;
  height: 60px;
  width: 100%;
  z-index: 10; }
  .header--solid {
    position: relative;
    margin-top: 0;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2); }
  .header__logo {
    float: left;
    margin-top: 4px;
    padding: 5px 0;
    padding-left: 2%;
    color: #fff;
    font-size: 1.2em;
    font-weight: 500;
    line-height: 40px;
    text-align: center;
    letter-spacing: 1px; }
    .header__logo:hover {
      color: #fff;
      text-decoration: none; }
    .header__logo--inverse {
      color: #CB242D; }
      .header__logo--inverse span {
        border-color: #434A54 !important; }
      .header__logo--inverse:hover, .header__logo--inverse:focus {
        color: #CB242D; }
    .header__logo a {
      padding: 10px;
      color: #fff; }
    .header__logo span {
      border: 2px solid #fff;
      padding: 4px;
      color: #CB242D;
      font-weight: 700; }
  .header:after {
    content: '';
    display: block;
    clear: both; }

.primary-nav {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 11;
  left: 0;
  top: 0;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.9);
  overflow: hidden;
  -webkit-transition: 0.2s;
  transition: 0.2s; }
  .primary-nav::after {
    border: none;
    -webkit-transition: none;
    transition: none; }
  @media (min-width: 992px) {
    .primary-nav {
      position: static;
      top: initial;
      width: initial;
      height: inital;
      padding-right: 2%;
      background: none;
      overflow: inital; } }
  .primary-nav ul {
    position: relative;
    top: 10%;
    font-size: 0.9em;
    width: 100%;
    text-align: center;
    margin-top: 10px; }
    @media (min-width: 576px) {
      .primary-nav ul {
        top: 20%;
        font-size: 1.1em; } }
    @media (min-width: 992px) {
      .primary-nav ul {
        position: static;
        float: right;
        width: inital;
        margin-top: 0;
        text-align: right; } }
  .primary-nav li {
    display: block;
    margin: 0;
    padding: 0;
    line-height: 2; }
    @media (min-width: 992px) {
      .primary-nav li {
        padding: 0 10px;
        display: inline-block;
        line-height: 60px; } }
  .primary-nav__link {
    padding: 8px;
    color: #818181;
    font-size: 1.8em;
    font-weight: 500;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .primary-nav__link:hover, .primary-nav__link:focus {
      color: #fff; }
    @media (min-width: 992px) {
      .primary-nav__link {
        position: relative;
        padding: 15px;
        color: #fff;
        font-size: 0.9em;
        font-weight: 500;
        -webkit-transition: 400ms;
        transition: 400ms; }
        .primary-nav__link:hover, .primary-nav__link:focus {
          color: #CB242D;
          text-decoration: none; } }
  @media (min-width: 992px) and (min-width: 992px) {
    .primary-nav__link--grey {
      color: #434A54; } }
    @media (min-width: 992px) {
        .primary-nav__link:hover::after {
          width: 100%; }
        .primary-nav__link::after {
          content: '';
          position: absolute;
          bottom: 3px;
          left: 0;
          width: 0%;
          border-bottom: 2px solid #CB242D;
          -webkit-transition: 0.3s;
          transition: 0.3s; } }
  .primary-nav--active {
    color: #CB242D; }
  .primary-nav__open-btn {
    position: absolute;
    display: block;
    top: 25%;
    right: 5%;
    color: #fff;
    font-size: 1.6em; }
    .primary-nav__open-btn:hover {
      color: #fff; }
    .primary-nav__open-btn--grey {
      color: #434A54; }
      .primary-nav__open-btn--grey:hover {
        color: #434A54; }
    @media (min-width: 992px) {
      .primary-nav__open-btn {
        display: none; } }
  .primary-nav__close-btn {
    position: absolute;
    right: 1%;
    top: 0%;
    display: block;
    padding: 10px 20px;
    color: #818181;
    font-size: 2.5em;
    font-weight: 300; }
    .primary-nav__close-btn:hover, .primary-nav__close-btn:focus {
      color: #f1f1f1; }
    @media (min-width: 992px) {
      .primary-nav__close-btn {
        display: none; } }

.button {
  display: inline-block;
  border-radius: 3px;
  padding: 15px;
  background: #CB242D;
  color: #fff;
  font-size: 1em;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
  .button:hover, .button:focus {
    background: #a31d24; }
  .button--ghosted {
    border: 1px solid #CB242D;
    padding: 14px;
    background: transparent;
    color: #CB242D; }
    .button--ghosted:hover, .button--ghosted:focus {
      background: #CB242D;
      color: #fff; }

.page-section {
  padding: 100px 0; }
  .page-section--grey {
    background: #E9EAEA; }
  .page-section--dark {
    background: #252528;
    color: #fff; }
  .page-section--red {
    background: #CB242D;
    color: #262521; }
  .page-section__title {
    text-align: center; }
  .page-section__line {
    background: #CB242D;
    height: 2px;
    width: 70px;
    display: block;
    margin: 40px auto; }
  .page-section__line--dark {
    background: #262521; }
  .page-section__text--centered {
    text-align: center; }

.home-intro__text {
  margin: 0 10px 0 10px; }

.home-intro__benefits {
  text-align: center; }
  .home-intro__benefits i {
    margin-top: 90px;
    font-size: 5em; }

.popular-destinations {
  text-align: center; }
  .popular-destinations__image-container {
    position: relative;
    height: 300px;
    width: 300px;
    margin: 80px auto 0 auto; }
    @media (min-width: 992px) {
      .popular-destinations__image-container {
        margin: 50px auto 0 auto; } }
  .popular-destinations__image {
    height: 100%;
    width: 100%;
    border-radius: 5px; }
  .popular-destinations__image-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1;
    -webkit-transition: 0.2s;
    transition: 0.2s; }
    .popular-destinations__image-overlay:hover, .popular-destinations__image-overlay:focus {
      background: initial; }
  .popular-destinations__image-caption {
    position: relative;
    height: 100%;
    width: 100%;
    right: 25%;
    top: 85%;
    color: #fff;
    font-size: 1.4em;
    font-weight: 500; }

.best-offers__promo-text {
  position: relative;
  bottom: 10px;
  display: block;
  margin-bottom: 50px;
  color: #CB242D;
  font-weight: 500;
  font-style: italic;
  font-size: 1.1em;
  text-align: center; }

.image-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .image-gallery img {
    height: 100%;
    width: 100%; }
  .image-gallery__cell {
    position: relative;
    margin: 30px 1px;
    height: 350px;
    width: 400px; }
    @media (min-width: 992px) {
      .image-gallery__cell {
        position: relative;
        margin: 1px;
        height: 350px;
        width: 400px; } }
    .image-gallery__cell:hover .image-gallery__caption-container {
      background: rgba(203, 36, 45, 0.8); }
    .image-gallery__cell--empty {
      display: none; }
      @media (min-width: 992px) {
        .image-gallery__cell--empty {
          display: block;
          height: 0; } }
  .image-gallery__caption-container {
    font-size: 0.9em;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25%;
    padding: 10px;
    background: rgba(0, 0, 0, 0.7);
    text-align: initial;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    z-index: 1; }
    @media (min-width: 576px) {
      .image-gallery__caption-container {
        font-size: 1em; } }
    .image-gallery__caption-container span {
      display: block;
      color: #fff; }
    .image-gallery__caption-container:after {
      content: '';
      display: block;
      clear: both; }
  .image-gallery__caption-location {
    display: block;
    width: 70%;
    float: left;
    text-align: left; }
  .image-gallery__caption-country, .image-gallery__caption-night {
    font-style: italic;
    font-size: 0.9em; }
  .image-gallery__caption-hotel, .image-gallery__caption-price {
    margin-top: 10px;
    font-weight: 400;
    font-size: 1em; }
    @media (min-width: 576px) {
      .image-gallery__caption-hotel, .image-gallery__caption-price {
        margin-top: 30px; } }
  .image-gallery__caption-pricing {
    width: 30%;
    float: right;
    text-align: right;
    letter-spacing: 1px; }

.testimonials__image {
  display: block;
  border-radius: 50%;
  margin: 0 auto; }

.testimonials__user-title {
  text-align: center; }

.testimonials__text {
  font-style: italic; }

.testimonials__social-proof {
  padding-top: 40px; }

.testimonials__social-proof__title {
  margin-bottom: 50px;
  text-align: center; }

.testimonials__social-proof__image {
  margin-top: 50px; }
  @media (min-width: 768px) {
    .testimonials__social-proof__image {
      margin-top: 0; } }

.card {
  margin: 30px -10px;
  padding: 40px 20px;
  border-radius: 5px;
  height: auto;
  background: #fff; }
  @media (min-width: 576px) {
    .card {
      margin: 30px 20px;
      padding: 40px 30px; } }
  .card hr {
    width: 80%;
    background: #ccc; }

.form {
  margin: 0;
  padding: 0 10px;
  height: 3em;
  outline: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #F5F7F8;
  color: #2e333a;
  font-size: 1em;
  line-height: 1.4;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out; }
  .form:focus {
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); }
  .form--full-width {
    width: 100%; }

.newsletter {
  text-align: center; }
  .newsletter__subtitle {
    display: block;
    margin-top: 20px;
    padding-bottom: 30px;
    padding-top: 0;
    color: #848383; }
  .newsletter__email {
    width: 80%;
    margin-bottom: 2px; }
    @media (min-width: 768px) {
      .newsletter__email {
        width: 400px;
        margin-bottom: 0; } }
  .newsletter .button {
    width: 80%;
    cursor: pointer; }
    @media (min-width: 768px) {
      .newsletter .button {
        width: 150px; } }

.footer {
  padding: 30px 0 10px;
  background: #252528;
  color: #6C6E70;
  font-size: 0.8em;
  text-align: center; }
  @media (min-width: 768px) {
    .footer {
      text-align: left; } }
  .footer__nav {
    margin-bottom: 40px; }
  .footer__list-title {
    text-transform: uppercase; }
  .footer ul {
    line-height: 1.8; }
  .footer a {
    color: inherit; }
    .footer a:hover, .footer a:focus {
      color: #fff;
      -webkit-transition: .3s;
      transition: .3s; }
  .footer__social-icons {
    font-size: 3em;
    text-align: center; }
    .footer__social-icons li {
      display: inline-block;
      padding: 0 10px;
      margin-bottom: 30px; }
  .footer__copyright {
    text-align: center; }

#preloader {
  height: 100%;
  width: 100%;
  background: #fff;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2000; }

.spinner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 80px;
  height: 80px;
  border: 10px solid #ccc;
  border-top: 10px solid #CB242D;
  border-radius: 100%;
  margin: auto;
  -webkit-animation: spin 1s infinite linear;
          animation: spin 1s infinite linear; }

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

.scroll-top-btn {
  display: none;
  position: fixed;
  padding: 11px 8px;
  border-radius: 3px;
  border: none;
  right: 2%;
  bottom: 10%;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  z-index: 1001; }
  @media (min-width: 992px) {
    .scroll-top-btn {
      padding: 15px 13px; } }
  .scroll-top-btn:hover {
    background-color: black; }
  .scroll-top-btn:focus {
    outline: none; }
  .scroll-top-btn__icon {
    color: #fff; }

.about-hero {
  position: relative;
  height: 70vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url("../../assets/img/about/banner-about-compressor.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../assets/img/about/banner-about-compressor.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff; }
  .about-hero__text-content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-align: center; }
  .about-hero__title {
    margin-bottom: 10px;
    font-size: 2em;
    font-weight: 700; }
    @media (min-width: 576px) {
      .about-hero__title {
        font-size: 2.5em; } }
    @media (min-width: 768px) {
      .about-hero__title {
        font-size: 3.5em; } }

.company-stats {
  text-align: center; }
  .company-stats__text {
    margin: 10px 0 80px 0; }
    .company-stats__text--white {
      color: #fff; }
    .company-stats__text--no-b-margin {
      margin-bottom: 10px; }
    @media (min-width: 768px) {
      .company-stats__text--no-b-margin-medium {
        margin-bottom: 0; } }

.leadership {
  text-align: center; }
  .leadership__img {
    display: inline-block;
    border-radius: 50%;
    max-width: 50%;
    height: auto;
    margin-top: 50px; }

.carousell {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  overflow: hidden; }
  .carousell__img {
    height: 60vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
    .carousell__img-1 {
      background-image: url("../../assets/img/services/slider-beach-compressor.jpg");
      background-position: center 100%; }
    .carousell__img-2 {
      background-image: url("../../assets/img/services/slider-safari-compressor.jpeg");
      background-position: center 70%; }
    .carousell__img-3 {
      background-image: url("../../assets/img/services/slider-japan-compressor.jpeg"); }
    .carousell__img-4 {
      background-image: url("../../assets/img/services/slider-venice-compressor.jpg"); }
  .carousell__text-content {
    position: absolute;
    top: 45%;
    left: 50%;
    width: 80%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-align: center; }
  .carousell__text {
    text-shadow: 1px 1px 10px #000;
    line-height: 1.2;
    font-weight: 700;
    font-size: 1.5em;
    text-align: center; }
    @media (min-width: 768px) {
      .carousell__text {
        font-size: 1.8em; } }
    @media (min-width: 992px) {
      .carousell__text {
        font-size: 2em; } }
    .carousell__text--white {
      color: #fff; }

.slick-dots {
  bottom: 5%; }

.slick-dots li {
  margin: 0 20px; }

.slick-dots li button::before {
  font-size: 16px;
  color: #fff;
  opacity: 0.7; }

.slick-dots li.slick-active button::before {
  color: #CB242D;
  opacity: 1; }

.how-it-works__text-content {
  padding: 0px 20px 100px;
  height: auto;
  text-align: center; }
  @media (min-width: 576px) {
    .how-it-works__text-content {
      text-align: left; } }
  @media (min-width: 992px) {
    .how-it-works__text-content {
      padding: 80px 20px 0;
      height: 100px; } }

.how-it-works__line {
  position: relative;
  left: 10px;
  height: 2px;
  width: 70px;
  display: block;
  margin: 30px auto;
  background: #CB242D; }
  @media (min-width: 576px) {
    .how-it-works__line {
      margin: 30px 0; } }

.how-it-works__img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  height: 100%;
  width: auto;
  max-width: none; }
  @media (min-width: 1656px) {
    .how-it-works__img {
      width: 100%; } }

.how-it-works__img-container {
  position: relative;
  height: 550px;
  width: 50%;
  overflow: hidden; }

.price-plan {
  text-align: center; }
  .price-plan ul {
    display: inline-block;
    margin: 0 auto;
    margin-bottom: 20px; }
  .price-plan li {
    margin-bottom: 15px;
    text-align: left; }
  .price-plan i {
    margin-right: 10px;
    font-weight: 300; }
  .price-plan hr {
    margin: 30px; }
  .price-plan__cost {
    margin: 0 0 20px;
    padding: 0;
    font-size: 2.4em;
    font-weight: 500; }
  .price-plan__card-title {
    margin-bottom: 5px;
    opacity: 0.8;
    font-size: 0.9em;
    font-weight: 700;
    text-transform: uppercase; }
  .price-plan__card--dark {
    background: #252528;
    color: #fff; }
  .price-plan .button {
    width: 90%; }
  .price-plan .card {
    height: 550px;
    margin: 50px 5px; }

.faq__text-content {
  margin-bottom: 50px; }

.faq__subtitle {
  font-size: 1.1em; }

.faq__text {
  color: #848383;
  font-size: 0.9em; }

.info-link {
  color: #ed0914; }
  .info-link:hover, .info-link:focus {
    color: #a0080d;
    text-decoration: underline; }
  .info-link--blue {
    color: #0283DF; }
    .info-link--blue:hover, .info-link--blue:focus {
      color: #488BF8;
      text-decoration: underline; }

#map {
  height: 70vh;
  margin: 0 auto;
  width: 100%; }

.info-window p {
  color: #434A54;
  font-size: 1em; }

.info-window h3 {
  color: #000;
  font-size: 1.1em; }

#directionsMap {
  position: absolute;
  top: 10%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 90%;
  width: 95%;
  left: 50%; }

.directions-map-overlay {
  visibility: hidden;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 9999;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: hidden;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); }
  .directions-map-overlay a:hover, .directions-map-overlay a:active {
    color: #fff;
    text-decoration: none; }

.directions-map-overlay select {
  border: none;
  font-weight: 700;
  padding: 5px;
  border-radius: 5px; }

.directions-map-close {
  color: #fff;
  position: absolute;
  font-size: 2.3em;
  cursor: pointer;
  top: 2%;
  right: 2%; }

#floating-panel {
  position: absolute;
  top: 2%;
  left: 11%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
  border-radius: 5px; }

#floating-panel-distance {
  position: absolute;
  top: 2%;
  right: 33%;
  /* height:50px; */
  width: 200px;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  /* text-align: center; */
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
  border-radius: 5px; }

#travel-mode-panel {
  position: absolute;
  top: 2%;
  left: 35%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
  border-radius: 5px; }

#hotelMapBtn {
  text-align: center;
  width: 100px;
  position: absolute;
  left: 2.5%;
  top: 2%;
  padding: 0.73em; }

#distance {
  color: #F80C20;
  font-weight: 500;
  margin-left: 10px; }

.info-window img {
  position: relative;
  height: 100px;
  width: 200px; }

.location .row {
  margin-bottom: 30px;
  margin-left: 2%; }

.location__subtitle {
  margin: 0;
  margin-bottom: 5px;
  margin-top: 50px;
  padding: 0; }

.location__details {
  margin: 0 0 20px;
  padding-bottom: 20px;
  color: #848383;
  font-size: 0.9em; }

.contact-form label {
  display: block;
  margin: 10px 20px 30px 0;
  font-weight: 500; }

.contact-form input {
  margin-top: 10px; }

.contact-form input[type=radio] {
  position: relative;
  bottom: 2px;
  display: inline;
  margin: 0;
  margin-right: 2px;
  padding: 0; }

.contact-form .card {
  margin: 0 auto;
  width: 95%; }
  @media (min-width: 576px) {
    .contact-form .card {
      width: 90%; } }
  @media (min-width: 768px) {
    .contact-form .card {
      width: 80%; } }
  @media (min-width: 992px) {
    .contact-form .card {
      width: 60%; } }

.contact-form__subtitle {
  margin: 15px 0;
  color: #848383; }

.contact-form--inline {
  display: inline !important; }

.contact-form__gender {
  margin: 50px 0; }
  .contact-form__gender p {
    font-weight: 500; }
  .contact-form__gender label {
    font-weight: 400; }

.contact-form textarea {
  display: block;
  margin-top: 10px;
  max-width: 100%;
  height: 150px; }

.contact-form .button {
  width: 180px; }
  @media (min-width: 576px) {
    .contact-form .button {
      float: right; } }

.contact-form form:after {
  content: '';
  display: block;
  clear: both; }

.sidebar {
  margin-bottom: 50px; }
  @media (min-width: 1200px) {
    .sidebar {
      margin-bottom: 0; } }
  .sidebar input {
    font-weight: 400; }
  .sidebar span {
    font-size: 1.1em;
    font-weight: 400; }
  .sidebar label {
    font-size: 0.9em; }
  .sidebar__form {
    background: #E9EAEA;
    border-radius: 5px;
    padding: 0;
    font-size: 0.9em; }
    .sidebar__form input[type="text"] {
      border: none;
      border-radius: 2px;
      height: 40px;
      width: 100%;
      padding: 5px;
      outline-color: #0283DF; }
      .sidebar__form input[type="text"]:hover, .sidebar__form input[type="text"]:focus {
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); }
  .sidebar__wrapper {
    padding: 5%; }
    .sidebar__wrapper:after {
      content: '';
      display: block;
      clear: both; }
  .sidebar__search-wrapper {
    margin-bottom: 30px; }
  .sidebar__title {
    color: #434A54; }
    .sidebar__title h4 {
      margin: 0;
      padding: 15px;
      padding-bottom: 5px; }
  .sidebar__title--primary {
    padding-bottom: 10px;
    color: #fff;
    background: #434A54; }
  .sidebar__search span {
    display: inline-block;
    margin-bottom: 5px;
    margin-left: 1px;
    margin-top: 20px; }
  .sidebar__search label {
    display: block; }
    @media (min-width: 1200px) {
      .sidebar__search label {
        display: initial; } }
  .sidebar__select {
    padding-top: 10px; }
    .sidebar__select:after {
      content: '';
      display: block;
      clear: both; }
    .sidebar__select::first-of-type {
      margin-top: 30px; }
    .sidebar__select-2 {
      position: relative;
      left: 0; }
      @media (min-width: 1200px) {
        .sidebar__select-2 {
          left: 4px; } }
    .sidebar__select-3 {
      position: relative;
      right: 0; }
      @media (min-width: 1200px) {
        .sidebar__select-3 {
          right: 11px; } }
    .sidebar__select--submit {
      padding-top: 30px; }
      .sidebar__select--submit input[type="submit"] {
        width: 8em;
        margin-bottom: 10px;
        padding: 12px; }
  .sidebar__select-item {
    display: inline-block;
    margin-right: 10px;
    margin-top: 10px; }
    .sidebar__select-item label {
      margin-bottom: 10px;
      margin-top: 10px;
      padding-right: 50px;
      font-weight: 400; }
  .sidebar .button {
    float: right; }
  .sidebar .fa {
    text-align: center;
    width: 20px; }
  .sidebar .form {
    width: 100%; }

.filter__box {
  padding-bottom: 5px; }
  .filter__box input {
    margin-right: 5px; }

.filter__item {
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 30px;
  padding: 5px 0 5px 10px; }
  @media (min-width: 1200px) {
    .filter__item {
      display: block;
      margin-bottom: 0px;
      padding: 0; } }
  .filter__item input {
    position: relative;
    top: 4px; }
  .filter__item:hover {
    background: #E9EAEA; }
  .filter__item img {
    display: inline; }
  .filter__item label > span {
    padding-left: 10px; }

.filter__item, .filter__item input, .filter__item img, .filter__item span, .filter__item i {
  cursor: pointer; }

.ui-slider-horizontal {
  position: relative;
  margin: 0;
  height: 5px;
  width: 210px;
  background-color: #ccc; }
  @media (min-width: 1200px) {
    .ui-slider-horizontal {
      margin: 0 auto; } }

.ui-slider .ui-slider-handle {
  top: -9px;
  border: 2px solid #CB242D;
  border-radius: 50%;
  height: 1.5em;
  width: 1.5em;
  background: #fff;
  cursor: pointer;
  outline: none;
  -webkit-transition: 0.1s;
  transition: 0.1s; }

.ui-slider .ui-slider-handle:hover,
.ui-slider .ui-slider-handle:active {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  border-color: #a31d24; }

.ui-slider .ui-slider-range {
  background: #CB242D;
  height: 5px; }

#amount {
  margin-left: 5%;
  margin-top: 10%;
  border: none;
  color: #434A54;
  background: #E9EAEA;
  font-size: 0.8em;
  font-weight: 700; }

.price-slider {
  margin-top: 10px; }

.hotel-card {
  height: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  border: 1px solid #ccc;
  background: #E9EAEA;
  -webkit-transition: -webkit-box-shadow .2s ease-in-out;
  transition: -webkit-box-shadow .2s ease-in-out;
  transition: box-shadow .2s ease-in-out;
  transition: box-shadow .2s ease-in-out, -webkit-box-shadow .2s ease-in-out;
  outline: none; }
  .hotel-card:hover {
    -webkit-box-shadow: 4px 4px 13px 0px rgba(96, 96, 96, 0.93);
            box-shadow: 4px 4px 13px 0px rgba(96, 96, 96, 0.93); }
  .hotel-card h4 {
    padding: 0;
    margin: 0;
    color: #0283DF;
    font-size: 1.1em;
    cursor: pointer; }
    .hotel-card h4:hover {
      color: #CB242D; }
  .hotel-card .hotel__property-info {
    position: relative; }
  .hotel-card .hotel__property-info > h4 > a {
    padding: 0;
    margin: 0;
    color: #0283DF;
    font-size: 0.9em;
    cursor: pointer; }
    .hotel-card .hotel__property-info > h4 > a:hover {
      color: #CB242D; }
    @media (min-width: 576px) {
      .hotel-card .hotel__property-info > h4 > a {
        font-size: 1em; } }
  .hotel-card .hotel__property-stars {
    font-size: .8em; }
    @media (min-width: 576px) {
      .hotel-card .hotel__property-stars {
        font-size: 1em; } }
    .hotel-card .hotel__property-stars img {
      position: relative;
      display: inline-block;
      margin-top: 10px;
      bottom: 1px; }
      @media (min-width: 576px) {
        .hotel-card .hotel__property-stars img {
          margin-top: 0; } }

.hotel__info-location {
  display: block;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 0.9em;
  font-weight: 500;
  cursor: pointer; }
  @media (min-width: 576px) {
    .hotel__info-location {
      display: inline-block;
      margin-top: 12px; } }

.hotel__info-directions {
  display: none; }
  @media (min-width: 576px) {
    .hotel__info-directions {
      display: initial; } }
  .hotel__info-directions ul {
    padding: 0;
    margin-top: 10px;
    list-style-type: circle; }
  .hotel__info-directions li {
    margin-left: 20px;
    margin-top: 5px;
    font-size: 0.8em; }

.hotel__img, .hotel__info, .hotel__promo {
  display: inline-block; }

.hotel__info {
  padding: 10px;
  width: 50%; }

.hotel__review > span {
  font-size: 0.8em;
  margin-top: 5px; }

.hotel__features {
  display: none;
  margin-top: 60px;
  color: #003580; }
  .hotel__features i {
    padding: 1%;
    cursor: help; }
  @media (min-width: 576px) {
    .hotel__features {
      display: block; } }
  @media (min-width: 768px) {
    .hotel__features {
      margin-top: 100px; } }

.hotel__button {
  position: absolute;
  left: 50%;
  bottom: 5%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 85%;
  padding: 7px 0;
  text-align: center;
  font-size: 0.9em; }
  .hotel__button:hover {
    color: #fff; }
  @media (min-width: 768px) {
    .hotel__button {
      padding: 10px 0; } }

.hotel__button--mobile {
  display: block;
  position: absolute;
  top: 175px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 12px;
  width: 70%;
  text-align: center;
  font-size: 0.8em; }
  @media (min-width: 576px) {
    .hotel__button--mobile {
      display: none; } }

.hotel__promo {
  display: none;
  position: relative;
  padding: 20px 15px;
  width: 20%;
  background: #fff;
  text-align: right; }
  @media (min-width: 576px) {
    .hotel__promo {
      display: inline-block;
      position: relative; } }
  .hotel__promo h4, .hotel__promo h4 > span {
    font-size: 0.9em; }
    @media (min-width: 768px) {
      .hotel__promo h4, .hotel__promo h4 > span {
        font-size: 1.1em; } }
  .hotel__promo-price {
    position: absolute;
    bottom: 25%;
    right: 8%; }
    .hotel__promo-price h3 {
      color: #2e333a;
      font-size: 1em; }
      @media (min-width: 768px) {
        .hotel__promo-price h3 {
          font-size: 1.3em; } }
    .hotel__promo-price span {
      color: #CB242D; }

.hotel__img {
  background-color: transparent;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 50%; }
  @media (min-width: 576px) {
    .hotel__img {
      width: 30%; } }
  .hotel__img--marina {
    background-image: url("../../assets/img/destinations/marina-bay.jpg"); }
  .hotel__img--studio-m {
    background-image: url("../../assets/img/destinations/studio-m.jpg"); }
  .hotel__img--sentosa {
    background-image: url("../../assets/img/destinations/sentosa.jpg"); }
  .hotel__img--indigo {
    background-image: url("../../assets/img/destinations/indigo.jpg"); }
  .hotel__img--hop {
    background-image: url("../../assets/img/destinations/hop.jpg"); }
  .hotel__img--mini {
    background-image: url("../../assets/img/destinations/mini.jpg"); }
  .hotel__img--icon {
    background-image: url("../../assets/img/destinations/hotel-icon.jpg"); }
  .hotel__img--dream-house {
    background-image: url("../../assets/img/destinations/dreamHouse.jpg"); }
  .hotel__img--la-maison {
    background-image: url("../../assets/img/destinations/laMaison.jpg"); }
  .hotel__img--fairytale {
    background-image: url("../../assets/img/destinations/fairytale.jpg"); }

.room-sort-menu {
  background: #434A54;
  margin: 0;
  padding: 0;
  text-align: center; }
  .room-sort-menu li {
    display: block; }
    @media (min-width: 576px) {
      .room-sort-menu li {
        display: inline-block; } }
    .room-sort-menu li a {
      width: 100%; }
  .room-sort-menu__title {
    display: none; }
    @media (min-width: 576px) {
      .room-sort-menu__title {
        display: inline-block;
        margin-right: 30px;
        color: #fff;
        font-weight: 500; } }
  .room-sort-menu__dropdown {
    position: relative;
    display: inline-block;
    color: #fff; }
    .room-sort-menu__dropdown a {
      display: inline-block;
      padding: 16px 30px;
      margin: 0;
      color: #fff;
      font-size: 0.9em; }
      .room-sort-menu__dropdown a:hover, .room-sort-menu__dropdown a:focus {
        background: #2e333a;
        text-decoration: none; }
  .room-sort-menu__drop-menu {
    position: absolute;
    display: none;
    top: 52px;
    left: 0px;
    border: 1px solid color;
    width: 100%;
    background: #CB242D;
    font-size: 0.9em;
    z-index: 1; }
    @media (min-width: 576px) {
      .room-sort-menu__drop-menu {
        width: inherit; } }
    .room-sort-menu__drop-menu a {
      display: block;
      padding: 17px 20px; }
      .room-sort-menu__drop-menu a:hover {
        background: #a31d24; }
    @media (min-width: 576px) {
      .room-sort-menu__drop-menu--width {
        width: 168px; } }
  .room-sort-menu .fa {
    margin-left: 5px; }

.show {
  display: block; }

.property__header {
  margin-bottom: 30px;
  line-height: 1.6; }
  .property__header-info {
    position: relative;
    bottom: 10px;
    padding: 0;
    margin-bottom: 30px;
    text-align: center;
    letter-spacing: 1px; }
    @media (min-width: 768px) {
      .property__header-info {
        margin-bottom: 0;
        bottom: 0;
        text-align: left; } }
  .property__header-title {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 0px;
    font-size: 1.8em;
    font-weight: 500;
    word-spacing: initial;
    letter-spacing: initial; }
    @media (min-width: 768px) {
      .property__header-title {
        margin-top: 8px; } }
  .property__header-stars {
    position: relative;
    bottom: 7px;
    display: inline-block;
    margin: 20px 0; }
    @media (min-width: 768px) {
      .property__header-stars {
        margin: 5px 0; } }
  .property__header-address {
    font-size: 0.9em; }
    .property__header-address a {
      display: inline-block; }
  .property__header-review {
    position: relative;
    bottom: -5px;
    padding: 0;
    text-align: center;
    font-size: 0.9em;
    letter-spacing: 1px; }
    @media (min-width: 768px) {
      .property__header-review {
        text-align: right; } }
    .property__header-review-number {
      margin-left: 5px;
      color: #488BF8;
      font-size: 1.8em; }
  .property__header-score {
    font-size: 1.2em;
    font-weight: 500; }

.masonry:after {
  content: '';
  display: block;
  clear: both; }

.masonry__item {
  margin: 10% 10%;
  float: none;
  height: auto;
  width: auto; }
  @media (min-width: 768px) {
    .masonry__item {
      position: relative;
      display: block;
      cursor: pointer;
      margin: 0; } }
  .masonry__item img {
    width: 100%;
    height: 100%; }

.masonry__1st {
  margin: 5% auto;
  width: 95%;
  height: 95%; }
  @media (min-width: 576px) {
    .masonry__1st {
      width: 80%;
      height: 80%; } }
  @media (min-width: 768px) {
    .masonry__1st {
      height: 400px;
      width: 60%;
      float: left;
      margin: 0; } }

.masonry__2nd {
  margin: auto;
  width: 95%;
  height: 95%; }
  @media (min-width: 576px) {
    .masonry__2nd {
      width: 80%;
      height: 80%; } }
  @media (min-width: 768px) {
    .masonry__2nd {
      float: right;
      height: 315px;
      width: 39.5%;
      margin: 0;
      margin-left: .5%; } }

.masonry__3rd {
  display: none; }
  @media (min-width: 768px) {
    .masonry__3rd {
      display: block;
      float: left;
      width: 19%;
      margin: .5% 0 0;
      height: 180px;
      clear: both; } }

.masonry__4th {
  display: none; }
  @media (min-width: 768px) {
    .masonry__4th {
      display: block;
      float: left;
      width: 40.5%;
      margin: .5% 0 0 .5%;
      height: 180px; } }

.masonry__5th {
  display: none; }
  @media (min-width: 768px) {
    .masonry__5th {
      display: block;
      float: left;
      width: 19.5%;
      height: 266px;
      margin-top: -80px;
      margin-left: .5%; } }

.masonry__6th {
  display: none; }
  @media (min-width: 768px) {
    .masonry__6th {
      display: block;
      float: left;
      width: 19.5%;
      height: 149px;
      border: 1px solid #ccc;
      margin-top: -80px;
      margin-left: .5%; } }

.masonry__7th {
  display: none; }
  @media (min-width: 768px) {
    .masonry__7th {
      display: block;
      float: left;
      width: 19.5%;
      height: 110px;
      margin-top: 6px;
      margin-left: .5%; } }
  .masonry__7th-caption {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    padding-top: 50px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.9em;
    letter-spacing: 1px;
    -webkit-transition: color 250ms ease-in-out;
    transition: color 250ms ease-in-out; }
    .masonry__7th-caption:hover {
      color: #84b5fe; }

.masonry__author-name {
  display: block;
  margin-bottom: 5px; }

.masonry__engagement {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  padding-top: 80px;
  color: #fff;
  font-size: 0.9em;
  letter-spacing: 1.4px;
  text-align: center; }
  .masonry__engagement span {
    display: block;
    font-size: 1.5em; }

.masonry__enagement-text {
  margin-top: 15px;
  line-height: 1.4; }

.masonry__review-snippet {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  padding-top: 20px;
  color: #fff;
  text-align: center;
  letter-spacing: 1.4px;
  font-size: 0.9em; }

.masonry__review span {
  display: block;
  font-size: 1.5em; }

.masonry__review-text {
  margin: 10px 0 20px 0; }

.masonry__overlay {
  display: none; }
  @media (min-width: 768px) {
    .masonry__overlay {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      -webkit-transition: all 250ms ease-in-out;
      transition: all 250ms ease-in-out; } }
  .masonry__overlay:hover {
    background-color: rgba(1, 1, 1, 0.8); }
  .masonry__overlay:hover .masonry__see-map, .masonry__overlay:focus .masonry__see-map {
    opacity: 0; }
  .masonry__overlay:hover .masonry__overlay--info-caption, .masonry__overlay:hover .masonry__overlay--info-title, .masonry__overlay:focus .masonry__overlay--info-caption, .masonry__overlay:focus .masonry__overlay--info-title {
    opacity: 1; }
  .masonry__overlay--info-caption {
    color: #84b5fe;
    opacity: 0;
    width: 100%;
    height: 49px;
    position: absolute;
    left: 5%;
    bottom: 25%;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.1em;
    line-height: normal;
    letter-spacing: 0.2px;
    -webkit-transition: color 250ms ease-in-out;
    transition: color 250ms ease-in-out;
    z-index: 1; }
    @media (min-width: 768px) {
      .masonry__overlay--info-caption {
        bottom: 0%; } }
  .masonry__overlay--dark {
    background-color: rgba(1, 1, 1, 0.5); }
    .masonry__overlay--dark:hover .masonry__review-snippet, .masonry__overlay--dark:focus .masonry__review-snippet {
      visibility: hidden; }
    .masonry__overlay--dark:hover .masonry__engagement, .masonry__overlay--dark:focus .masonry__engagement {
      visibility: hidden; }
  .masonry__overlay--info-title {
    position: absolute;
    bottom: 50%;
    left: 5%;
    width: 100%;
    color: #fff;
    opacity: 0;
    font-size: 1.6em;
    font-weight: 400;
    -webkit-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out; }
    @media (min-width: 768px) {
      .masonry__overlay--info-title {
        bottom: 15%; } }
    .masonry__overlay--info-title-2 {
      bottom: 20%; }
    .masonry__overlay--info-title-3 {
      bottom: 35%; }
    .masonry__overlay--info-title-4 {
      bottom: 35%; }
    .masonry__overlay--info-title-5 {
      bottom: 25%; }

.masonry__see-map {
  width: 100%;
  height: 48px;
  position: absolute;
  bottom: -10px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1em;
  text-align: center;
  line-height: normal;
  letter-spacing: 1.4px;
  -webkit-transition: color 250ms ease-in-out;
  transition: color 250ms ease-in-out; }
  .masonry__see-map-title {
    bottom: 70px;
    left: 20px; }
  .masonry__see-map-caption {
    text-align: center;
    left: 0;
    bottom: -10px; }

.rooms {
  text-align: center;
  /* marina bay sands */
  /* studio m */
  /* studio m */
  /* Hotel Indigo */
  /* Hop Inn */
  /* Hotel Mini */
  /* Hotel ICON */
  /* dreamHouse */
  /* La Maison */
  /* fairytale hotel */ }
  @media (min-width: 768px) {
    .rooms {
      padding-top: 0;
      text-align: left; } }
  .rooms__title {
    padding: 0 5px 40px;
    font-weight: 500; }
  .rooms__card {
    margin: 0 auto;
    margin-bottom: 100px;
    width: 100%;
    border: 1px solid #ccc; }
    @media (min-width: 576px) {
      .rooms__card {
        width: 80%; } }
    @media (min-width: 768px) {
      .rooms__card {
        margin: 0;
        margin-bottom: 50px;
        width: 100%; } }
  .rooms__card-heading {
    padding: 15px;
    background: rgba(227, 227, 227, 0.65); }
    .rooms__card-heading h4 {
      margin: 0; }
  .rooms__card-content {
    display: block; }
    @media (min-width: 768px) {
      .rooms__card-content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 0; } }
    .rooms__card-content h5 {
      margin: 0;
      padding: 10px 0 20px;
      font-weight: 500; }
  .rooms__card-space {
    width: 100%;
    display: block;
    padding: 20px 0;
    border-bottom: 1px solid #ccc; }
    @media (min-width: 768px) {
      .rooms__card-space {
        display: inline-block;
        width: 25%;
        padding: 0 10px;
        border-bottom: 0;
        border-right: 1px solid #ccc; } }
  .rooms__card-img-container {
    overflow: hidden; }
  .rooms__card-img {
    margin: 0 auto;
    width: 90%;
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transition: none;
    transition: none;
    cursor: pointer; }
    @media (min-width: 576px) {
      .rooms__card-img {
        width: 80%; } }
    @media (min-width: 768px) {
      .rooms__card-img {
        height: 150px;
        width: 95%;
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out; } }
    @media (min-width: 768px) {
      .rooms__card-img:hover {
        -webkit-transform: scale(1.2);
                transform: scale(1.2); } }
  .rooms__card-img-tagline {
    margin: 15px 0 15px 5px;
    display: block;
    font-size: 0.8em; }
  .rooms__card-specification {
    width: 100%;
    display: block;
    padding: 20px 0;
    border-bottom: 1px solid #ccc; }
    @media (min-width: 768px) {
      .rooms__card-specification {
        width: 20%;
        border-bottom: 0;
        border-right: 1px solid #ccc;
        padding: 0 10px; } }
    .rooms__card-specification ul {
      margin: 5px 0;
      padding: 0; }
    .rooms__card-specification li {
      padding: 5px 0;
      font-size: 0.9em;
      line-height: 1.4; }
    .rooms__card-specification i {
      margin-right: 15px; }
  .rooms__card-capacity {
    width: 100%;
    display: block;
    padding: 20px 0;
    border-bottom: 1px solid #ccc; }
    @media (min-width: 768px) {
      .rooms__card-capacity {
        display: inline-block;
        width: 10%;
        border-bottom: 0;
        border-right: 1px solid #ccc;
        padding: 0 10px; } }
  .rooms__card-capacity-text {
    margin-top: 50px;
    font-size: 1.2em; }
    .rooms__card-capacity-text i {
      margin-left: 5px;
      font-size: 1.5em; }
  .rooms__card-price-container {
    width: 100%;
    display: block;
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
    text-align: center; }
    @media (min-width: 768px) {
      .rooms__card-price-container {
        display: inline-block;
        width: 20%;
        padding: 0;
        border-bottom: 0;
        border-right: 1px solid #ccc; } }
  .rooms__card-price {
    margin-top: 38px; }
    .rooms__card-price p {
      margin: 0;
      color: #CB242D; }
    .rooms__card-price span {
      font-size: 1.6em;
      font-weight: 500;
      margin-left: 5px; }
  .rooms__card-rooms {
    width: 100%;
    display: block;
    padding: 20px 0;
    border-bottom: 1px solid #ccc; }
    @media (min-width: 768px) {
      .rooms__card-rooms {
        position: relative;
        display: inline-block;
        width: 25%;
        padding: 0 10px;
        border: none; } }
    .rooms__card-rooms select {
      padding: 10px 20px;
      margin-top: 10px;
      text-align: right; }
    .rooms__card-rooms span {
      display: block;
      margin-top: 30px;
      color: #CB242D;
      font-weight: 500;
      font-size: 0.9em;
      text-align: center; }
    .rooms__card-rooms .button {
      width: auto;
      margin-top: 5px; }
      @media (min-width: 768px) {
        .rooms__card-rooms .button {
          position: absolute;
          top: 75%;
          left: 5%;
          width: 90%;
          text-align: center; } }
      .rooms__card-rooms .button:hover {
        color: #fff; }
  .rooms__card-img--premiere-twin-garden-view {
    background-image: url("../../assets/img/hotels/Marina-bay-sands/premiere-twin-garden-view.jpg"); }
  .rooms__card-img--preimere-king-garden-view {
    background-image: url("../../assets/img/hotels/Marina-bay-sands/premiere-king-garden-view.jpg"); }
  .rooms__card-img--sande-suite {
    background-image: url("../../assets/img/hotels/Marina-bay-sands/sande-suite.jpg"); }
  .rooms__card-img--orchard-suite {
    background-image: url("../../assets/img/hotels/Marina-bay-sands/orchard-suite.jpg"); }
  .rooms__card-img--studio-loft {
    background-image: url("../../assets/img/hotels/studioM/studio-loft.jpg"); }
  .rooms__card-img--premiere-loft {
    background-image: url("../../assets/img/hotels/studioM/premiere-loft.jpg"); }
  .rooms__card-img--executive-loft {
    background-image: url("../../assets/img/hotels/studioM/executive-loft.jpg"); }
  .rooms__card-img--one-bedroom-villa {
    background-image: url("../../assets/img/hotels/sentosa/1-bedroom-villa.jpg"); }
  .rooms__card-img--ocean-suite {
    background-image: url("../../assets/img/hotels/sentosa/ocean-suite.jpg"); }
  .rooms__card-img--two-bedroom-villa {
    background-image: url("../../assets/img/hotels/sentosa/2-bedroom-villa.jpg"); }
  .rooms__card-img--three-bedroom-villa {
    background-image: url("../../assets/img/hotels/sentosa/3-bedroom-villa.jpg"); }
  .rooms__card-img--deluxe-king-room {
    background-image: url("../../assets/img/hotels/indigo-hotel/deluxe-king-room.png"); }
  .rooms__card-img--deluxe-twin-room {
    background-image: url("../../assets/img/hotels/indigo-hotel/deluxe-twin.jpg"); }
  .rooms__card-img--premier-king-room {
    background-image: url("../../assets/img/hotels/indigo-hotel/premiere-king.png"); }
  .rooms__card-img--premier-executive-1-king-bath {
    background-image: url("../../assets/img/hotels/indigo-hotel/premiere-executive.png"); }
  .rooms__card-img--hop-double-room {
    background-image: url("../../assets/img/hotels/hop-inn/double-room.jpg"); }
  .rooms__card-img--hop-twin-room {
    background-image: url("../../assets/img/hotels/hop-inn/twin-room.jpg"); }
  .rooms__card-img--hop-triple-room {
    background-image: url("../../assets/img/hotels/hop-inn/triple-room.jpg"); }
  .rooms__card-img--mini-double {
    background-image: url("../../assets/img/hotels/mini-hotel/basic-double-twin.jpg"); }
  .rooms__card-img--smart-room {
    background-image: url("../../assets/img/hotels/mini-hotel/smart-room.jpg"); }
  .rooms__card-img--solo-room {
    background-image: url("../../assets/img/hotels/mini-hotel/solo-room.jpg"); }
  .rooms__card-img--ICON-36-city-view {
    background-image: url("../../assets/img/hotels/hotel-icon/icon-city-view.jpg"); }
  .rooms__card-img--ICON-36-harbour-view {
    background-image: url("../../assets/img/hotels/hotel-icon/icon-harbour-view.jpg"); }
  .rooms__card-img--ICON-club-65-studio-view {
    background-image: url("../../assets/img/hotels/hotel-icon/icon-club-65.jpg"); }
  .rooms__card-img--ICON-club-80-harbour {
    background-image: url("../../assets/img/hotels/hotel-icon/icon-club-80.jpg"); }
  .rooms__card-img--dream-double {
    background-image: url("../../assets/img/hotels/dreamHouse/dream-double.jpg"); }
  .rooms__card-img--dream-twin {
    background-image: url("../../assets/img/hotels/dreamHouse/dream-twin.jpg"); }
  .rooms__card-img--dream-triple {
    background-image: url("../../assets/img/hotels/dreamHouse/dream-triple.jpg"); }
  .rooms__card-img--dream-noWindow {
    background-image: url("../../assets/img/hotels/dreamHouse/dream-no-window.jpg"); }
  .rooms__card-img--DeluxeDouble {
    background-image: url("../../assets/img/hotels/laMaison/laMaison-deluxeDouble.jpg"); }
  .rooms__card-img--DeluxeTwin {
    background-image: url("../../assets/img/hotels/laMaison/laMaison-deluxeTwin.jpg"); }
  .rooms__card-img--DeluxeFamily {
    background-image: url("../../assets/img/hotels/laMaison/laMaison-deluxeFamily.jpg"); }
  .rooms__card-img--fairytale-budgetDouble {
    background-image: url("../../assets/img/hotels/fairytale/fairytale-budgetDouble.jpg"); }
  .rooms__card-img--fairytale-deluxeDouble {
    background-image: url("../../assets/img/hotels/fairytale/fairytale-DeluxeDouble.jpg"); }
  .rooms__card-img--fairytale-premierQuad {
    background-image: url("../../assets/img/hotels/fairytale/fairytale-premierQuad.jpg"); }
  .rooms__card-img--fairytale-familySuite {
    background-image: url("../../assets/img/hotels/fairytale/fairytale-familySuite.jpg"); }

.hotel-overview__title {
  padding: 0 5px 20px;
  margin-left: 10px;
  font-weight: 500;
  font-size: 1.6em;
  text-transform: initial; }

@media (min-width: 768px) {
  .hotel-overview__subtitle-container {
    border-top: 1px solid #ccc; } }

.hotel-overview__subtitle {
  font-weight: 500;
  font-size: 1.2em;
  text-transform: initial; }

.hotel-overview__description {
  max-height: 90px;
  margin-bottom: 30px;
  font-size: 0.9em;
  overflow: hidden; }
  @media (min-width: 768px) {
    .hotel-overview__description {
      border-top: 1px solid #ccc; } }

.show-more-btn {
  display: inline-block;
  margin-bottom: 50px;
  padding: 5px 0;
  color: #488BF8;
  cursor: pointer; }
  .show-more-btn i {
    margin-left: 5px; }

.show-more-open {
  max-height: 2000px; }

.guest-review__heading {
  margin-left: 20px;
  font-size: 0.9em; }
  @media (min-width: 768px) {
    .guest-review__heading {
      margin-left: 5px; } }

.guest-review__card {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 20px;
  line-height: 1.8;
  font-size: 0.9em;
  height: auto; }
  .guest-review__card:after {
    content: '';
    display: block;
    clear: both; }
  @media (min-width: 768px) {
    .guest-review__card {
      border-top: 1px solid #ccc;
      margin-bottom: 30px; } }
  .guest-review__card i {
    width: 20px;
    margin-right: 2px;
    margin-left: -2px;
    text-align: center; }

.guest-review__score {
  color: #488BF8;
  font-size: 2.5em; }

.guest-review__comment {
  background: #e3e3e3;
  border-radius: 10px;
  padding: 20px;
  margin-top: 30px; }
  @media (min-width: 768px) {
    .guest-review__comment {
      margin-top: 0;
      padding: 25px 50px; } }

.guest-review__comment-title {
  font-weight: 500;
  font-size: 1.2em;
  margin-bottom: 15px; }

.guest-review__comment-text {
  margin-bottom: 15px; }

.guest-review__comment-date {
  color: #7B838D; }

.flag {
  background-image: url("../../assets/img/hotels/flags.png");
  background-repeat: no-repeat;
  display: inline-block;
  width: 16px;
  height: 11px;
  margin-right: 10px;
  border: none; }

.flag-us {
  background-position: -16px -11px; }

.flag-it {
  background-position: -16px 0; }

.flag-id {
  background-position: 0 0; }

.flag-za {
  background-position: 0 -11px; }
