* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  color: #2e333a;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-size: 16px; }

h1 {
  font-size: 3em;
  font-weight: 500;
  text-transform: uppercase; }

h2 {
  font-size: 1.8em;
  font-weight: 500;
  margin: 0; }

h3 {
  font-size: 1.4em;
  font-weight: 500; }

h4 {
  font-size: 1em;
  font-weight: 500; }

p {
  font-weight: 400;
  font-size: 1em;
  line-height: 2; }

a {
  text-decoration: none; }
  a:hover {
    color: inherit;
    text-decoration: inherit; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

img {
  max-width: 100%;
  height: auto; }

hr {
  border: none;
  margin-bottom: 20px;
  height: 1px;
  color: #6C6E70;
  background: #6C6E70; }

input[type="submit"] {
  border: none; }

.home-hero {
  position: relative;
  height: 100vh;
  padding: 160px 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(33, 120, 140, 0.3))), url("../../assets/img/home/hero-compressor.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(33, 120, 140, 0.3)), url("../../assets/img/home/hero-compressor.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff; }
  .home-hero__text-content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-align: center; }
  .home-hero__title {
    font-size: 2em;
    margin-bottom: 10px; }
    @media (min-width: 576px) {
      .home-hero__title {
        font-size: 2.5em; } }
    @media (min-width: 768px) {
      .home-hero__title {
        font-size: 3.5em; } }
  .home-hero__subtitle {
    margin-bottom: 40px;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.6; }
    @media (min-width: 768px) {
      .home-hero__subtitle {
        font-size: 1.4em; } }

.header {
  position: absolute;
  height: 60px;
  width: 100%;
  z-index: 10; }
  .header__logo {
    float: left;
    margin-top: 4px;
    padding: 5px 0;
    padding-left: 2%;
    color: #fff;
    font-size: 1.2em;
    font-weight: 500;
    line-height: 40px;
    text-align: center; }
    .header__logo:hover {
      color: #fff;
      text-decoration: none; }
    .header__logo a {
      padding: 10px;
      color: #fff; }
    .header__logo span {
      border: 2px solid #fff;
      padding: 4px;
      color: #CB242D;
      font-weight: 700; }
  .header:after {
    content: '';
    display: block;
    clear: both; }

.primary-nav__close-btn {
  position: absolute;
  display: none;
  right: 1%;
  top: 0%;
  padding: 10px 20px;
  color: #fff;
  font-size: 2.5em;
  font-weight: 300; }

@media (min-width: 992px) {
  .primary-nav {
    padding-right: 2%; } }

.primary-nav ul {
  display: none; }
  @media (min-width: 992px) {
    .primary-nav ul {
      float: right;
      display: inline-block; } }

@media (min-width: 992px) {
  .primary-nav li {
    padding: 0 10px;
    display: inline-block;
    line-height: 60px; } }

@media (min-width: 992px) {
  .primary-nav__link {
    position: relative;
    padding: 15px;
    color: #fff;
    font-size: 1em;
    font-weight: 500;
    -webkit-transition: 400ms;
    transition: 400ms; }
    .primary-nav__link:hover, .primary-nav__link:focus {
      color: #CB242D;
      text-decoration: none; }
    .primary-nav__link:hover::after {
      width: 100%; }
    .primary-nav__link::after {
      content: '';
      position: absolute;
      bottom: 3px;
      left: 0;
      width: 0%;
      border-bottom: 2px solid #CB242D;
      -webkit-transition: 0.3s;
      transition: 0.3s; } }

.primary-nav--active {
  color: #CB242D; }

.primary-nav__open-btn {
  position: absolute;
  display: block;
  top: 25%;
  right: 5%;
  color: #fff;
  font-size: 1.6em; }
  .primary-nav__open-btn:hover {
    color: #fff; }
  @media (min-width: 992px) {
    .primary-nav__open-btn {
      display: none; } }

.button {
  display: inline-block;
  border-radius: 3px;
  padding: 15px;
  background: #CB242D;
  color: #fff;
  font-size: 1em;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
  .button:hover, .button:focus {
    background: #a31d24; }

.page-section {
  padding: 100px 0; }
  .page-section--grey {
    background: #E9EAEA; }
  .page-section--dark {
    background: #252528;
    color: #fff; }
  .page-section--red {
    background: #CB242D; }
  .page-section__title {
    text-align: center; }
  .page-section__line {
    background: #CB242D;
    height: 2px;
    width: 70px;
    display: block;
    margin: 40px auto; }

.home-intro__text {
  margin: 0 10px 0 10px; }

.home-intro__benefits {
  text-align: center; }
  .home-intro__benefits i {
    margin-top: 90px;
    font-size: 5em; }

.popular-destinations {
  text-align: center; }
  .popular-destinations__image-container {
    position: relative;
    height: 300px;
    width: 300px;
    margin: 80px auto 0 auto; }
    @media (min-width: 992px) {
      .popular-destinations__image-container {
        margin: 50px auto 0 auto; } }
  .popular-destinations__image {
    height: 100%;
    width: 100%;
    border-radius: 5px; }
  .popular-destinations__image-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1;
    -webkit-transition: 0.2s;
    transition: 0.2s; }
    .popular-destinations__image-overlay:hover, .popular-destinations__image-overlay:focus {
      background: initial; }
  .popular-destinations__image-caption {
    position: relative;
    height: 100%;
    width: 100%;
    right: 25%;
    top: 85%;
    color: #fff;
    font-size: 1.4em;
    font-weight: 500; }

.best-offers__promo-text {
  position: relative;
  bottom: 10px;
  display: block;
  margin-bottom: 50px;
  color: #CB242D;
  font-weight: 500;
  font-style: italic;
  font-size: 1.1em;
  text-align: center; }

.image-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .image-gallery img {
    height: 100%;
    width: 100%; }
  .image-gallery__cell {
    position: relative;
    margin: 30px 1px;
    height: 350px;
    width: 400px; }
    @media (min-width: 992px) {
      .image-gallery__cell {
        position: relative;
        margin: 1px;
        height: 350px;
        width: 400px; } }
    .image-gallery__cell:hover .image-gallery__caption-container {
      background: rgba(203, 36, 45, 0.8); }
    .image-gallery__cell--empty {
      display: none; }
      @media (min-width: 992px) {
        .image-gallery__cell--empty {
          display: block;
          height: 0; } }
  .image-gallery__caption-container {
    font-size: 0.9em;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25%;
    padding: 10px;
    background: rgba(0, 0, 0, 0.7);
    text-align: initial;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    z-index: 1; }
    @media (min-width: 576px) {
      .image-gallery__caption-container {
        font-size: 1em; } }
    .image-gallery__caption-container span {
      display: block;
      color: #fff; }
    .image-gallery__caption-container:after {
      content: '';
      display: block;
      clear: both; }
  .image-gallery__caption-location {
    display: block;
    width: 70%;
    float: left;
    text-align: left; }
  .image-gallery__caption-country, .image-gallery__caption-night {
    font-style: italic;
    font-size: 0.9em; }
  .image-gallery__caption-hotel, .image-gallery__caption-price {
    margin-top: 10px;
    font-weight: 400;
    font-size: 1em; }
    @media (min-width: 576px) {
      .image-gallery__caption-hotel, .image-gallery__caption-price {
        margin-top: 30px; } }
  .image-gallery__caption-pricing {
    width: 30%;
    float: right;
    text-align: right;
    letter-spacing: 1px; }

.testimonials__image {
  display: block;
  border-radius: 50%;
  margin: 0 auto; }

.testimonials__user-title {
  text-align: center; }

.testimonials__text {
  font-style: italic; }

.testimonials__social-proof {
  padding-top: 40px; }

.testimonials__social-proof__title {
  margin-bottom: 50px;
  text-align: center; }

.testimonials__social-proof__image {
  margin-top: 50px; }
  @media (min-width: 768px) {
    .testimonials__social-proof__image {
      margin-top: 0; } }

.card {
  margin: 30px -10px;
  padding: 40px 20px;
  border-radius: 5px;
  height: auto;
  background: #fff; }
  @media (min-width: 576px) {
    .card {
      margin: 30px 20px;
      padding: 40px 30px; } }
  .card hr {
    width: 80%;
    background: #ccc; }

.form {
  margin: 0;
  padding: 0 10px;
  height: 3.3em;
  outline: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #F5F7F8;
  color: #2e333a;
  font-size: 1em;
  line-height: 1.4;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out; }
  .form:focus {
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); }

.newsletter {
  text-align: center; }
  .newsletter__subtitle {
    display: block;
    margin-top: 20px;
    padding-bottom: 30px;
    padding-top: 0;
    color: #848383; }
  .newsletter__email {
    width: 80%;
    margin-bottom: 2px; }
    @media (min-width: 768px) {
      .newsletter__email {
        width: 400px;
        margin-bottom: 0; } }
  .newsletter .button {
    width: 80%; }
    @media (min-width: 768px) {
      .newsletter .button {
        width: 150px; } }

.footer {
  padding: 30px 0 10px;
  background: #252528;
  color: #6C6E70;
  font-size: 0.8em;
  text-align: center; }
  @media (min-width: 768px) {
    .footer {
      text-align: left; } }
  .footer__nav {
    margin-bottom: 40px; }
  .footer__list-title {
    text-transform: uppercase; }
  .footer ul {
    line-height: 1.8; }
  .footer a {
    color: inherit; }
    .footer a:hover, .footer a:focus {
      color: #fff;
      -webkit-transition: .3s;
      transition: .3s; }
  .footer__social-icons {
    font-size: 3em;
    text-align: center; }
    .footer__social-icons li {
      display: inline-block;
      padding: 0 10px;
      margin-bottom: 30px; }
  .footer__copyright {
    text-align: center; }
