* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  background: #E9EAEA;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-size: 16px; }

h1 {
  font-size: 3em;
  font-weight: 500;
  text-transform: uppercase; }

h2 {
  font-size: 1.8em;
  font-weight: 500; }

h3 {
  font-size: 1.4em;
  font-weight: 500; }

h4 {
  font-size: 1em;
  font-weight: 500; }

p {
  font-weight: 400;
  font-size: 1em;
  line-height: 2; }

a {
  text-decoration: none; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.home-hero {
  height: 100vh;
  padding: 160px 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(33, 120, 140, 0.3))), url("../../img/home/hero-compressor.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(33, 120, 140, 0.3)), url("../../img/home/hero-compressor.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff; }

.header {
  position: absolute;
  height: 60px;
  width: 100%;
  background: pink;
  z-index: 10; }
  .header:after {
    content: '';
    display: block;
    clear: both; }

.logo {
  margin-top: 4px;
  padding: 5px 0;
  padding-left: 2%;
  color: #fff;
  font-size: 1.2em;
  font-weight: 400;
  line-height: 40px; }
  .logo a {
    padding: 10px;
    color: #fff; }
  .logo span {
    border: 2px solid #fff;
    padding: 4px;
    color: #CB242D;
    font-weight: 700; }
